@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap');
/* font-family: 'Alegreya Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/********************* 공통사항 *********************/
html,
body {
	font-family: 'Alegreya Sans', sans-serif;
	color: #fff;
}


.btn-dash {
	background-color: transparent;
	color: #fff;
	fill: transparent;
	stroke: #c9ab81;
	transition: 2s;
	stroke-width: 2px;
	stroke-dashoffset: 240%;
	stroke-dasharray: 330% 25;
}

/********************* .header *********************/
.header-wrapper {
	width: 100%;
	height: 100vh;
	position: relative;
	color: #fff;
}

.header-wrapper .stage {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
}

.header-wrapper .cont-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.header-wrapper .htop-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 500;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 11px 35px;
}

.header-wrapper .htop-lt {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header-wrapper .htop-lt div {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-right: 20px;
}

.header-wrapper .htop-lt .icon {
	font-size: 15px;
	margin-left: 42px;
	margin-right: 15px;
}

.header-wrapper .htop-lt .icon:nth-child(1) {
	margin-left: 0px;
}

.header-wrapper .htop-lt div:hover {
	color: #c9ab81;
}

.header-wrapper .htop-rt {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header-wrapper .htop-rt .text {
	margin-left: 34px;
	margin-bottom: 0px;
}

.header-wrapper .htop-rt .text:hover {
	color: #c9ab81;
}

.header-wrapper .htop-rt .text:nth-child(1) {
	margin-left: 0;
}

.header-wrapper .top-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'EB Garamond', serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 3px;
	padding: 20px 45px 0 35px;
}

.header-wrapper .top-wrap .navi-wrap {
	display: flex;
	align-items: center;
	margin-left: 26px;
}

.header-wrapper .top-wrap .top-lt {
	display: flex;
	align-items: center;
}

.header-wrapper .top-wrap .top-lt .logo-wrap {
	font-size: 0;
	cursor: pointer;
}

.header-wrapper .top-wrap .top-lt img {
	width: 46px;
}

.header-wrapper .top-wrap .navi {
	margin: 19px;
	cursor: pointer;
	position: relative;
	padding: 4px 0;
}

.header-wrapper .top-wrap .navi>div {
	padding: 8px 0;
}

.header-wrapper .top-wrap .navi-wrap .hover-active::after {
	display: block;
	content: "";
	border-bottom: 1px solid #e7c5a1;
}

.header-wrapper .top-wrap .navi-wrap .hover-link::after {
	display: block;
	content: "";
	border-bottom: 1px solid #e7c5a1;
	transition: all 0.3s;
	transform-origin: left;
	transform: scaleX(0);
}

.header-wrapper .top-wrap .navi-wrap .hover-link:hover::after {
	transform-origin: right;
	transform: scaleX(1);
}

.header-wrapper .top-wrap .navi-wrap ul.sub-wrap {
	position: absolute;
	top: 70px;
	left: -40px;
	width: 239px;
	height: auto;
	background-color: #fff;
	padding: 28px 0 33px 0;
	;
	display: none;
}

.header-wrapper .top-wrap .navi-wrap ul.sub-wrap>li {
	padding: 0 40px;
	width: 100%;
	height: 38px;
	background-color: #fff;
	color: #5f5f5f;
	font-size: 17px;
	font-family: 'EB Garamond', sans-serif;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 38px;
	cursor: pointer;
}

.header-wrapper .top-wrap .navi-wrap ul.sub-wrap>li.active {
	color: #c9ab81;
}

.header-wrapper .top-wrap .navi-wrap ul.sub-wrap>li:hover {
	color: #c9ab81;
	transition: all .2s;
}

.top-rt {
	position: relative;
	display: flex;
	align-items: center;
}

.top-rt .btn {
	position: relative;
}

.top-rt .btn .btn-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1px;
	color: #fff;
}

.top-rt .btn:hover .btn-dash {
	stroke-dashoffset: -110%;
}

.top-rt .icon {
	font-size: 18px;
	padding: 16px;
	cursor: pointer;
}

.top-rt .bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.top-rt .bar div::after {
	border: 1px solid #fff;
	display: block;
	content: "";
	width: 25px;
	margin: 4px
}


.header-wrapper .stage {width: 100%; height: 100vh; position: relative; overflow: hidden;}
.header-wrapper .slide-wrapper {position: relative;}
.header-wrapper .slide-wrapper > .slide {
	width: 100%; height: 100vh; background-repeat: no-repeat; 
	background-position: left center; 
	background-size: cover;
	transform: scale(1.1);
	transition: all .5s;
}
.header-wrapper .slide-wrapper > :nth-child(2) {
	position: absolute; top: 0; left: 0; opacity: 0;}

.header-wrapper .title-wrapper {
	position: absolute;
	width: 90vh;
	height: 100vh;
	top: 41.2vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	color: #fff;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
/* 	position: absolute; width: 90%; left: 5%; bottom: 8%; display: flex; justify-content: space-between; 
	align-items: flex-start; */ color: #fff;
}
.header-wrapper .title-lt .title {font-size: 24px;}
.header-wrapper .title-lt .title-wrap {
	opacity: 0; transform: translateY(20vh); transition: all 1.5s;
}
.header-wrapper .title-wrap .sub-title {
	font-size: 22px;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
}
.header-wrapper .title-wrap .slide-title {
	font-size: 71px;
	letter-spacing: 13px;
	margin: 22px 0 55px 0;
}
.header-wrapper .title-wrap .btn {
	position: relative;
	margin-bottom: 238px;
}

.header-wrapper .title-wrap .btn .btn-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1px;
	color: #fff;
}

.header-wrapper .title-wrap .btn:hover .btn-dash {
	stroke-dashoffset: -110%;
}
.header-wrapper  .pager-wrap {
	display: flex;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
	z-index: 9;
}

.header-wrapper .pager {
	font-size: 48px;
	color: #fff;
	cursor: pointer;
	margin: 10px;
	transform: scale(1);
	transition: all .5s;
	display:
	flex;
align-content: center;
}

.header-wrapper .pager.active {
	transform: scale(1.3);
	margin-bottom: 14px;
}
.header-wrapper .btn-prev, .header-wrapper .btn-next {
	font-size: 2vw; color: #fff;  position: absolute; 
	z-index: 9; top: 50%; transform: translateY(-50%); cursor: pointer;
	}
.header-wrapper .btn-prev {margin-left: 32px;}
.header-wrapper .btn-next {right: 0; margin-right: 32px;}
.header-wrapper .bar-left{
	width:154px;
	position:absolute;
	border:1px solid rgba(255, 255, 255, 0.5);
	display:block;
	counter-reset: "";
	z-index: 9; top: 50%; transform: translateY(-50%); cursor: pointer;
	margin-left: 14%;
	
}
.header-wrapper .bar-right{
	width:154px;
	position:absolute;
	border:1px solid rgba(255, 255, 255, 0.5);
	display:block;
	counter-reset: "";
	z-index: 9; top: 50%; transform: translateY(-50%); cursor: pointer;
	margin-right: 14%;
	right: 0;
}
.sub-wrapper1 {
	width: 100%; height: 120vh; color: #5f5f5f; 
	position: relative;}
/* 	.sub-wrapper1 .sub-top {
		position: absolute;
	} */
.sub-wrapper1 .sub-top {
	width: 1339px;
	height: 309px;
	display:flex;
	justify-content:space-around;
}
.sub-wrapper1 .title-wrap {
	position: absolute;
	top: 13vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
}
.sub-wrapper1 .sub-title {
	font-size: 22px;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
}
.sub-wrapper1 .slide-title {
	font-size: 51px;
	letter-spacing: 8px;
	margin: 14px 0 50px 0;
	color: #525252;
}
.sub-wrapper1 .bar-left{
	width:170px;
	position:absolute;
	border:1px solid rgba(161, 43, 43, 0.7);
	display:block;
	counter-reset: "";
	left:22%;
	top: 16%;
}
.sub-wrapper1 .bar-right{
	width:170px;
	position:absolute;
	border:1px solid rgba(161, 43, 43, 0.7);
	display:block;
	counter-reset: "";
	left:50%;
	top: 16%;
}
.sub-bottom {
/* 	width: 100vh; */
	position: absolute;
	top: 30vh;
	display: flex;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
	margin: 50px;
}
.sub-bottom .title-lt{
	font-size: 19px;
	width:500px;
	margin: 0 60px 0 0;
}

/********************* 반응형 *********************/
@media screen and (max-width: 1448px) {
	.header-wrapper .title-wrap .slide-title {font-size: 55px;}
}
@media screen and (max-width: 1399px) {}

@media screen and (max-width: 1199px) {}
@media screen and (max-width: 1036px) {
	.header-wrapper .btn-prev{display: none;}
	.header-wrapper .btn-next{display: none;}
}
@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}