@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap');
/* font-family: 'Alegreya Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/** 공통사항 *********************/
html, body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}


/** .header *********************/
.header-wrapper {width:100%; height: 100vh; position: relative; color: #fff;} 
.header-wrapper .slide-wrap {position: absolute; width: 100%; height: 100%; }
.header-wrapper .banner-wrap .slide {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-size: cover; background-repeat: no-repeat; background-position: center; transition: all 1s; opacity: 0; /* transform: translateY(40dge); */}
.header-wrapper .cont-wrap {position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
.header-wrapper .htop-wrap {display: flex; justify-content: space-between;align-items: center; font-family: 'Open Sans', sans-serif; font-size: 12px; font-weight: 600; border-bottom: 1px solid #111;}
.header-wrapper .htop-lt {display:flex; align-items: center; padding: 8px;} 
.header-wrapper .htop-rt {display:flex; align-items: center; padding: 8px;} 
.header-wrapper .htop-lt .icon-text {padding: 0 25px 0 10px;} 
.header-wrapper .htop-rt .text {padding: 0 20px 0 10px;} 

.header-wrapper .top-wrap {position: absolute; display:flex; top: 80px;}
.header-wrapper .top-wrap h1.logo-wrap {width:46px; height: 42px;}
.header-wrapper .top-wrap .navi-wrap {display:flex; align-items: center; font-family: 'EB Garamond', serif; font-size:13px; font-weight:600;}
.header-wrapper .top-wrap .navi {margin: 16px; cursor: pointer; position: relative;}
.header-wrapper .top-wrap .navi-wrap .sub-wrap {display: none;}

.header-wrapper .stage {width: 100%; height: 100vh; position: relative; overflow: hidden;}
.header-wrapper .slide-wrap {position: relative;}
.header-wrapper .slide:nth-child(2) {position: absolute; top: 0; left: 0; opacity: 0;}
.header-wrapper .btn-prev, .header-wrapper .btn-next {font-size: 50px; color: #fff; text-shadow: 0 0 2vw rgba(0,0,0,0.5); position: absolute; z-index: 9; top: calc(50% - 8vw); opacity: .1; transition: opacity 1s; cursor: pointer;}
.header-wrapper .btn-next {right: 0;}
.header-wrapper .btn-prev:hover, .header-wrapper .btn-next:hover {opacity: .7;}
.header-wrapper .pager-wrap {position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%); user-select: none; cursor: pointer; z-index: 9;}
.header-wrapper .pager {font-size: 15px; margin: 10px; cursor: pointer; transform: scale(1.3);}
.header-wrapper .pager.active {transform: scale(1);}