@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap');
/* font-family: 'Alegreya Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/** 공통사항 *********************/
html, body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #fff;}


/** .header *********************/
.header-wrapper {width:100%; height: 100vh; position: relative; color: #fff;} 
.header-wrapper .slide-wrapper {position: absolute; width: 100%; height: 100vh; overflow: hidden;}
.header-wrapper .slide-wrapper .slide {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-size: cover; background-repeat: no-repeat; }
.header-wrapper .cont-wrap {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.header-wrapper .htop-wrap {display: flex; justify-content: space-between; align-items: center; font-family: 'Open Sans', sans-serif; font-size: 12px; font-weight: 400; border-bottom: 1px solid rgba(254, 226, 226, 0.3); padding: 10px 35px;}
.header-wrapper .htop-lt {display:flex; align-items:flex-start; /* margin-right: 50px; */}
.header-wrapper .htop-rt {display:flex; align-items: center; } 
.header-wrapper .htop-lt .icon {font-size:15px; margin-right: 12px; margin-left: 42px;} 
.header-wrapper .htop-lt .icon:nth-child(1) {margin-left: 0;} 
.header-wrapper .htop-rt .text {margin-left: 34px;} 
.header-wrapper .htop-rt .text:nth-child(1) {margin-left: 0;} 

.header-wrapper .top-wrap {display:flex; justify-content:space-between; font-family: 'EB Garamond', serif; font-size:13px; font-weight:500; letter-spacing: 3px; padding: 28px 35px 0 35px;}
.header-wrapper .top-wrap .top-lt {display:flex; align-items: center;  }
.header-wrapper .top-wrap .navi-wrap {display:flex; align-items: center;  margin-left: 26px;}
.header-wrapper .top-wrap .navi {margin: 19px; cursor: pointer; position: relative;}
.header-wrapper .top-wrap .navi-wrap .hover-active::after {display: block; content: ""; border-bottom: 1px solid #e7c5a1;}
.header-wrapper .top-wrap .navi-wrap .sub-wrap {display: none;}

.header-wrapper .top-wrap .htop-rt {}
.header-wrapper .top-wrap .htop-rt .btn-ghost {padding: 8px 16px; border: 1px solid #fff; font-size: 14px; font-weight: 500; color: #fff;}

.top-rt:hover .btn-dash {
	stroke-dashoffset: 0%;
	stroke-dasharray: 330% 25;
}

.btn-dash {
	background-color: transparent; color: #fff;
	fill: transparent;
	stroke: #c9ab81;
	transition: 2s;
	stroke-width: 2px;
	stroke-dashoffset: 240%;
	stroke-dasharray: 330% 25;
}

/** 반응형 *********************/
@media screen and (max-width: 1399px) {

}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 575px) {}