@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap');
/* font-family: 'Alegreya Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/* font-family: 'Cinzel', serif; */

/********************* 공통사항 *********************/
html, body {
	font-family: 'Alegreya Sans', sans-serif;
	color: #fff;
	
}

.btn-dash {
	background-color: transparent;
	color: #fff;
	fill: transparent;
	stroke: #c9ab81;
	transition: 2s;
	stroke-width: 2px;
	stroke-dashoffset: 240%;
	stroke-dasharray: 330% 25;
}

@keyframes hoverAni {
	0% {transform-origin: right; transform: scaleX(1);}
	49% {transform-origin: right;}
	50% {transform-origin: left; transform: scaleX(0);}
	99% {transform-origin: left;}
	100% {transform: scaleX(1);}
}

@keyframes scroll {
	0% {transform: translateY(0);}
	100% {	transform: translateY(100%);}
}
@keyframes scroll2 {
	0% {transform: translateX(0);}
	100% {	transform: translateX(100%);}
}
/********************* .header *********************/
.header-wrapper {
	width: 100%;
	height: 100vh;
	position: relative;
	color: #fff;
}
.header-wrapper .stage {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
}
.header-wrapper .cont-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.header-wrapper .htop-wrap {
	font-size: 0.75rem;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625rem 3rem 0.625rem 2.25rem;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-wrapper .htop-lt {
	display: flex;
	justify-content: space-between;
	width: 755px;
}
.header-wrapper .htop-lt div {
	display: flex;
	align-items: center;
/* 	margin-right: 1.5em; */
	cursor: pointer;
}
.header-wrapper .htop-lt .icon {
	margin-right: 0.825em;
	font-size: 1rem;
}
.header-wrapper .htop-lt div:hover {
	color: #c9ab81;
}
.header-wrapper .htop-rt {
	display: flex;
	width: 295px;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.header-wrapper .htop-rt .text:hover {
	color: #c9ab81;
}
.header-wrapper .top-wrap {
	padding: 2.25rem 2.825rem 0 2.25rem;
	display: flex;
	justify-content: space-between;
}
.header-wrapper .top-wrap .navi-wrap {
	display: flex;
	font-family: 'EB Garamond', serif;
	font-weight: bold;
	letter-spacing: 0.1875em;
	font-size: 0.875rem;
}
.header-wrapper .top-wrap .top-lt {
	display: flex;
}
.header-wrapper .top-wrap .top-lt .logo-wrap {
	font-size: 0;
}
.header-wrapper .top-wrap .top-lt img {
	width: 46px;
}
.header-wrapper .top-wrap .navi {
	margin-left: 3.2em;
	padding-top: 0.5em;
	position: relative;
}
.header-wrapper .top-wrap .navi > div {
	padding: 0.5rem 0;
}
.header-wrapper .top-wrap .navi-wrap .hover-active::after {
	display: block;
	content: "";
	border-bottom: 1px solid #e7c5a1;
}
.header-wrapper .top-wrap .navi-wrap .hover-link::after {
	display: block;
	content: "";
	border-bottom: 1px solid #e7c5a1;
	transition: all 0.3s;
	transform-origin: left;
	transform: scaleX(0);
}
.header-wrapper .top-wrap .navi-wrap .hover-link:hover::after {
	transform-origin: right;
	transform: scaleX(1);
}
.header-wrapper .top-wrap .navi-wrap ul.sub-wrap {
	display: none;
	position: absolute;
	top: 4.375em;
	left: -2.5em;
	width: 239px;
	height: auto;
	background-color: #fff;
	color: #5f5f5f;
	font-size: 1rem;
	padding: 1.75em 0 2.06em 0;
}
.header-wrapper .top-wrap .navi-wrap ul.sub-wrap>li {
	width: 100%;
	padding: 0.45rem 2.5rem;
	font-family: 'EB Garamond', sans-serif;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0.0625em;
	line-height: 2.375em;
	height: 2.375em;
	cursor: pointer;
}
.header-wrapper .top-wrap .navi-wrap ul.sub-wrap>li.active {
	color: #c9ab81;
}
.header-wrapper .top-wrap .navi-wrap ul.sub-wrap>li:hover {
	color: #c9ab81;
	transition: all .2s;
}
.top-rt {
	position: relative;
	display: flex;
	align-items: center;
}
.top-rt .btn {
	position: relative;
}
.top-rt .btn .btn-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 0.825rem;
	letter-spacing: 0.08em;
	color: #fff;
}
.top-rt .btn:hover .btn-dash {
	stroke-dashoffset: -110%;
}
.top-rt .icon{
font-size: 1.2rem;
padding: 1rem;
cursor: pointer;
}
.top-rt .bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}
.top-rt .bar div::after {
	border: 1px solid #fff;
	display: block;
	content: "";
	width: 25px;
	margin: 4px
}
.header-wrapper .stage {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.header-wrapper .slide-wrapper {
	position: relative;
}
.header-wrapper .slide-wrapper>.slide {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1.3);
	transition: all 1.5s;
}
.header-wrapper .slide-wrapper> :nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.header-wrapper .title-wrapper {
	position: absolute;
	width: 90vh;
	height: 100vh;
	top: 41.2vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	color: #fff;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
	color: #fff;
}
.header-wrapper .title-lt .title-wrap {
	opacity: 0;
	transform: translateY(20vh);
	transition: all 2s;
}
.header-wrapper .title-lt  .title-wrap .bar-left {
	position: absolute;
	width: 140px;
	display: inline-block;
	height: 1px;
	background-color: #fff;
	top: 18%;
	left: -30%;
	z-index: 0;
	opacity: .35;
}
.header-wrapper .title-lt  .title-wrap .bar-right {
	position: absolute;
	width: 140px;
	display: inline-block;
	height: 1px;
	background-color: #fff;
	top: 18%;
	right: -30%;
	z-index: 0;
	opacity: .35;
}
.header-wrapper .title-wrap .sub-title {
	font-size: 22px;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
}
.header-wrapper .title-wrap .slide-title {
	font-size: 71px;
	letter-spacing: 13px;
	margin: 22px 0 55px 0;
}
.header-wrapper .title-wrap .btn {
	position: relative;
	margin-bottom: 220px;
}
.header-wrapper .title-wrap .btn .btn-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1px;
	color: #fff;
}
.header-wrapper .title-wrap .btn:hover .btn-dash {
	stroke-dashoffset: -110%;
}
.header-wrapper .pager-wrap {
	display: flex;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
	z-index: 9;
}
.header-wrapper .pager {
	font-size: 48px;
	color: #fff;
	cursor: pointer;
	margin: 10px;
	transform: scale(1);
	transition: all .5s;
	display:
		flex;
	align-content: center;
}
.header-wrapper .pager:hover {
	transform: scale(1.3);
	margin-bottom: 14px;
}
.header-wrapper .pager.active {
	transform: scale(1.3);
	margin-bottom: 14px;
}
.header-wrapper .btn-prev,
.header-wrapper .btn-next {
	font-size: 2vw;
	color: #fff;
	position: absolute;
	z-index: 9;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.header-wrapper .btn-prev {
	margin-left: 32px;
}
.header-wrapper .btn-next {
	right: 0;
	margin-right: 32px;
}
.header-wrapper .mtop-wrap {
	color: #5f5f5f;
	font-family: 'EB Garamond', serif;
	letter-spacing: 0.1875em;
	font-size: 0.875rem;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
	display: none;
}
.header-wrapper .mtop-wrap img {
	width: 46px;
}
.header-wrapper .mtop-wrap .mtop-top {
	display: flex;
	justify-content: space-between;
	width: 768px;
	align-items: center;
	position: absolute;
	left: 50%;
	padding: 0.6rem 0;
	transform: translateX(-50%);
}
.header-wrapper .mtop-wrap .mtop-top .navi-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	margin-top: 1rem;
}
.header-wrapper .mtop-wrap .mtop-top .navi-bar div::after {
	border: 1px solid #c9ab81;
	opacity: 0.5;
	display: block;
	content: "";
	width: 25px;
	margin: 3.5px;
}
.header-wrapper .mtop-wrap .mtop-bottom {
	background-color: #fff;
	position: absolute;
	top: 70px;
	width: 100%;
	height: 257px;
	display: none;
}
.header-wrapper .mtop-wrap .navi-wrapper {
	width: 768px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.header-wrapper .mtop-wrap .navi-wrapper .navi-wrap {
	display: block;
	width: 100%;
}
.header-wrapper .mtop-wrap .navi-wrapper .navi {
	padding: 9px 0;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(90, 90, 90, 0.2);
	cursor: pointer;
	margin: 0;
	font-family: 'Cinzel', serif;
	font-weight: 400;
	color: #525252;
}
.header-wrapper .mtop-wrap .navi-wrapper .icon {
	color: #525252;
	opacity: .5;
	font-size: 0.4rem;
	margin-right: 0.5rem;
}
.header-wrapper .mtop-wrap .navi-wrapper ul.sub-wrap {
	background-color:#fff;
	font-weight: 300;
	font-size: 17px;
	font-style: italic;
	width: 753px;
	position: static;
	display: flex;
	flex-direction: column;
	height: auto;
	color: #a4a4a4;
	width: 753px;
	margin: 0;
	padding: 0;
	margin-left: 1rem;
	display: none;
}
.header-wrapper .mtop-wrap .navi-wrapper ul.sub-wrap li {
	padding: 6px 0;
	align-items: center;
	line-height: 2rem;
	border-bottom: 1px solid rgba(90, 90, 90, 0.2);
}
.header-wrapper .mtop-wrap .navi-wrapper ul.sub-wrap li.active {
	color: #525252;
}
.header-wrapper .mtop-wrap .mtop-bottom.show {
	overflow: scroll;
	width: 100%;
	height: 307px;
	display: block;
}
.header-wrapper .mtop-wrap .mtop-bottom.show2 {
	width: 100%;
	display: block;
}
.header-wrapper .mtop-wrap .navi-wrapper ul.sub-wrap.show {
	display: block;
}
.header-wrapper .side-navi {
	position: fixed;
	top: 0;
	right: -405px;
	height: 100%;
	width: 405px;
	background-color: rgb(241, 241, 241);
	padding: 110px 50px 36px;
	color: #424242;
	transition: right 0.5s ease;
	z-index: 9;
}
.header-wrapper .side-navi.show {
	right: 0;
}
.header-wrapper .side-navi.hide {
	right: -405px;
}
.header-wrapper .side-navi .icon {
	cursor: pointer;
	padding-top: 2px;
}
.header-wrapper .side-navi .icon-title {
	font-family: 'EB Garamond', serif;
	font-size: 20px;
	letter-spacing: 0.2rem;
	cursor: pointer;
}
.header-wrapper .side-navi .icon-title:hover {
	color: #c9ab81;
}
.header-wrapper .side-navi .icon-text {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	margin: 13px 0 0;
	bottom: 0;
	height: 52px;
	line-height: 1.5rem;
	color: #5f5f5f;
}
.header-wrapper .side-navi .logo-wrap {
	margin-bottom: 3.5rem;
}
.header-wrapper .side-navi .logo-wrap img {
	width: 65px;
}
.header-wrapper .side-navi .navi {
	display: flex;
	height: 95px;
	margin-top: 20px;
}
.header-wrapper .side-navi .navi .text{
	width: 220px;
	margin: 0 0 0 13px;
}
.header-wrapper .side-navi .icons {
	color: #5f5f5f;
	margin-top: 2.5rem;
	font-size: 0.75rem;
	font-weight: bold;
}
.header-wrapper .side-navi .icons .icon {
	margin-left: 1.4rem;
}

.sub-wrapper1 {
	width: 100%;
	height: 114vh;
	color: #5f5f5f;
	position: relative;
}

.sub-wrapper1 .title-wrap {
	position: absolute;
	width: 100vh;
	top: 16vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
}

.sub-wrapper1 .title-wrap .bar-left {
	position: absolute;
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: calc(50% - 10px);
	left: -10%;
	z-index: 0;
	opacity: .35;
}

.sub-wrapper1 .title-wrap .bar-right {
	position: absolute;
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: calc(50% - 10px);
	right: -10%;
	z-index: 0;
	opacity: .35;
}

.sub-wrapper1 .sub-title {
	font-size: 22px;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
}

.sub-wrapper1 .slide-title {
	font-size: 3.1875rem;
	letter-spacing: 8px;
	margin: 14px 0 50px 0;
	color: #525252;
}

.sub-bottom {
/* 	width: 68%; */
	position: absolute;
	top: 33vh;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
}
.sub-bottom .img-wrapper {
	position: relative;
	width:423px;
	height: 600px;
}
.sub-bottom .img-wrapper .img-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width:423px;
	height: 100%;
	background-color: #fff;
/* 	border: 10px solid red; */
	z-index: 9;
	animation-name:none;
	animation-duration:2s;
	animation-iteration-count:initial;
	animation-fill-mode: forwards;
}

.sub-bottom .sub-img {
	width:423px;
	position: absolute;
	top: 0;
	display: block;
}
.sub-bottom .article-rt {
	margin: 5rem 0 0 3.75rem;
}

.sub-bottom .article-lt {
	margin: 5rem 3.75rem 0 0;
}

.sub-bottom .main-article {
	width: 374px;
	font-size: 1.1875rem;
	font-weight: 400;
	line-height: 1.47em;
	letter-spacing: 0;
	color: #5f5f5f;
	vertical-align: baseline;
	margin-bottom: 2rem;
}

.sub-bottom .article-lt>p {
	font-size: 1.0625rem;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	width: 373px;
}

.sub-bottom .article-rt>p {
	font-size: 1.0625rem;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	width: 373px;
}

.sub-bottom .article-rt .article {
	margin-bottom: 1.25rem;
}

.sub-bottom .btn {
	position: relative;
	top: 2.75em;
	right: 12px;
}

.sub-bottom .btn .btn-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1px;
}

.sub-bottom .btn:hover .btn-dash {
	stroke-dashoffset: -110%;
}
.sub-wrapper2 {
	width: 100%;
	height: 754px;
	position: relative;
	display: flex;
	justify-content: space-between;
	max-width: 1900px;
	overflow: hidden;
}

.sub-wrapper2 .subtitle-wrapper {
	width: 50%;
	top: 16vh;
	left: 50%;
	display: flex;
	flex-direction: column;
	z-index: 2;
	background-color: rgb(243, 243, 243);
}

.sub-wrapper2 .subtitle-wrapper .subtitle-wrap {
	position: absolute;
	top: 20vh;
	left: 25%;
	transform: translateX(-50%);
	color: #525252;
}

.sub-wrapper2 .sub-title {
	font-size: 1.375rem;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
	font-family: 'EB Garamond', serif;
	letter-spacing: -0.02em;
}

.sub-wrapper2 .slide-title {
	font-size: 2.5rem;
	letter-spacing: 0.5rem;
	margin: 0.875rem 0 1.125rem 0;
	color: #525252;
	font-family: 'EB Garamond', serif;

}

.sub-wrapper2 .subtitle-wrap .main-article {
	font-size: 1.1875rem;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	line-height: 1.58em;
	margin-bottom: 1.25rem;
	color: #5f5f5f;
}

.sub-wrapper2 .subtitle-wrap>p {
	font-size: 1.0625rem;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	line-height: 1.58em;
	color: #5f5f5f;
}

.sub-wrapper2 .btn {
	position: relative;
	top: 2.75em;
	right: 0.75rem;
}

.sub-wrapper2 .btn .btn-text {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 0.8125rem;
	letter-spacing: 0.0625rem;
}
.sub-wrapper2 .btn:hover .btn-dash {
	stroke-dashoffset: -110%;
}
.sub-wrapper2 .img-wrap {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	background-color: #fff;
/* 	border: 10px solid red; */
	z-index: 9;
	animation-name:none;
	animation-duration:2s;
	animation-iteration-count:initial;
	animation-fill-mode: forwards;
}

.sub-wrapper3 {
	width: 100%;
	height: 124vh;
	color: #5f5f5f;
	position: relative;
	margin: auto;
}


.sub-wrapper3 .title-wrap {
	position: absolute;
	width: 100vh;
	top: 15vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
}

.sub-wrapper3 .title-wrap .bar-left {
	position: absolute;
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: 70%;
	left: -10%;
	z-index: 0;
	opacity: .35;

}

.sub-wrapper3 .title-wrap .bar-right {
	position: absolute;
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: 70%;
	right: -10%;
	z-index: 0;
	opacity: .35;
}

.sub-wrapper3 .sub-title {
	font-size: 1.375rem;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
}

.sub-wrapper3 .slide-title {
	font-size: 3.25rem;
	letter-spacing: 0.45rem;
	margin: 0.875rem 0 0 0;
	color: #525252;
}

.sub-wrapper3 .slide-wrapper2 {
	width: 100%;
	margin-top: 11%;
	position: absolute;

}

.sub-wrapper3 .stage {
	width: 70%;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
	/* border: 10px solid blue; */
}


.sub-wrapper3 .slide-wrap {
	position: relative;
	display: flex;
	width: 150%;
	left: -25%;
}

.sub-wrapper3 .slide {
	position: relative;
	flex: 16.6666% 0 0;
	padding: 0 15px;
}

.sub-wrapper3 .text-wrap {
	font-family: 'EB Garamond', serif;
	width: 88%;
	height: 100px;
	background-color: #fff;
	position: relative;
	top: -80px;
	z-index: 3;
}

.sub-wrapper3 .text-wrap .slide-subt {
	font-weight: 300;
	font-style: italic;
	font-size: 1.2rem;
	color: #c9ab81;
	padding: 1.5rem 0 1rem 0;
}

.sub-wrapper3 .text-wrap .slide-maint {
	color: #525252;
	font-size: 1.375rem;
	letter-spacing: 0.2em;
	line-height: 1.2em;
}

.sub-wrapper3 .sub-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	top: -50px;
}

.sub-wrapper3 .sub-wrap .slide-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.825rem;
	font-weight: 600;
	margin-left: 1rem;
	color: #383737;
}

.sub-wrapper3 .sub-wrap .hover-ani {
	cursor: pointer;
	display: block;
	content: "";
	width: 2.25rem;
	margin: 30px 0;
	height: 1px;
	background-color: #c9ab81;
	animation-name: none;
	animation-duration: 0.5s;
}

.sub-wrapper3 .sub-wrap .hover-ani:hover {
	animation-name: hoverAni;
	animation-duration: 0.5s;
}

.sub-wrapper3 .btn-prev,
.sub-wrapper3 .btn-next {
	font-size: 2rem;
	color: #5f5f5f;
	position: absolute;
	z-index: 9;
	top: 36%;
	cursor: pointer;
}

.sub-wrapper3 .btn-prev {
	left: 10vw;
}

.sub-wrapper3 .btn-next {
	right: 10vw;
}

/* .sub-wrapper3 .pager-wrap {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 6%;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
	z-index: 9;
}

.sub-wrapper3 .pager {
	font-size: 48px;
	color: #525252;
	cursor: pointer;
	margin: 10px;
	transform: scale(1);
	transition: all .3s;
	display:
		flex;
	align-content: center;
}

.sub-wrapper3 .pager:hover {
	transform: scale(1.3);
}

.sub-wrapper3 .pager.active {
	transform: scale(1.3);
	margin-bottom: 14px;
} */

.sub-wrapper4 {
	position: relative;
	max-width: 1900px;
	overflow: hidden;
}

.sub-wrapper4 .sub-img {
	width: 100%;
	height: 64vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.sub-wrapper4 .img-text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 11%;
	width: 26%;
	height: 30%;
	background-color: #fff;
}

.sub-wrapper4 .maint {
	font-family: eb garamond;
	margin: 48px 0 6px 52px;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.35em;
	letter-spacing: .16em;
	color: #525252;
}

.sub-wrapper4 .subt {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	margin: 0 52px;
	color: #5f5f5f;
}
.sub-wrapper5 {
	position: relative;
	width: 100%;
	height: 380vh;
	color: #525252;
	display: flex;
	flex-direction: column;
}

.sub-wrapper5 .title-wrap {
	position: absolute;
	width: 100vh;
	top: 15vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
}

.sub-wrapper5 .sub-title {
	font-size: 1.375rem;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
}

.sub-wrapper5 .slide-title {
	font-size: 3.25rem;
	letter-spacing: .16em;
	margin: 0.875rem 0 1rem 0;
	color: #525252;
}

.sub-wrapper5 .cont {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	color: #5f5f5f;
	font-size: 19px;
	line-height: 28px;
	margin: 11px;
}

.sub-wrapper5 .title-wrap .bar-left {
	position: absolute;
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: 32%;
	left: -2%;
	z-index: 0;
	opacity: .35;

}

.sub-wrapper5 .title-wrap .bar-right {
	position: absolute;
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: 32%;
	right: -2%;
	z-index: 0;
	opacity: .35;
}

.sub-wrapper5 .cont-wrap {
	width: 68%;
	position: relative;
	left: 50%;
	top: 14%;
	transform: translateX(-50%);
	display: flex;
	flex-wrap: wrap;
	border: 1px solid transparentblue;
}

.sub-wrapper5 .cont-wrap h3 {
	font-family: eb garamond;
	font-size: 22px;
	line-height: 1.313em;
	color: #525252;
	letter-spacing: .1em;
}

.sub-wrapper5 .cont-1910 {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.sub-wrapper5 .cont-1910 .subtitle-wrap {
	margin-right: 8%;
	margin-top: 7%;
}

.sub-wrapper5 img {
	width: 43%;
}

.sub-wrapper5 .subtitle-wrap .sub-title {
	font-size: 1.375rem;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
	font-family: 'EB Garamond', serif;
	letter-spacing: -0.02em;
	margin: 2.025rem 0 1rem 0;
}

.sub-wrapper5 .subtitle-wrap .slide-title {
	font-size: 2.5rem;
	letter-spacing: 0.4rem;
	margin: 0.6rem 0 1.125rem 0;
	color: #525252;
	font-family: 'EB Garamond', serif;
}

.sub-wrapper5 .article {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
	margin-bottom: 1rem;
}

.sub-wrapper5 .article2 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
}

.sub-wrapper5 .cont-1982 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 140px;
}

.sub-wrapper5 .cont-1982 .subtitle-wrap {
	margin-left: 8%;
	margin-top: 7%;
}

.sub-wrapper5 .cont-1982 h3 {
	text-align: end;
}

.sub-wrapper5 .cont-2002 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 140px;
}

.sub-wrapper5 .cont-2002 .subtitle-wrap {
	margin-right: 8%;
	margin-top: 7%;
}

.sub-wrapper5 .subslide-wrap {
/* margin-top: 60vh; */
position: relative;
left: 50%;
transform: translateX(-50%);
width: 60%;
height: 50%;
border: 5px solid red;
/* display: inline-block; */
}
.sub-wrapper5 .subslide-wrap  .btn-wrap {
	position: absolute;
	width: 100%;
	top: 80%;
	left: 50%;
	transform: translateX(-70%);
	font-size: 2vw;
	display: flex;
	justify-content: space-between;
}
.sub-wrapper5 .subslide-wrap  .btn-wrap  .btn-next {
	right: 0;
}
.sub-wrapper5 .subslide-wrap .slide-text {
	text-align: center;
	font-family: 'EB Garamond', serif;
	position: absolute;
	top: 0;
}

.sub-wrapper5 .subslide-wrap .slide-text h2 {
/* 	font-family: 'Alegreya Sans', sans-serif; */
	font-size: 50px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
}

.sub-wrapper5 .subslide-wrap .slide-text p {
	margin: 1rem 0 1.825rem 0;
	font-family: 'EB Garamond', serif;
	font-size: 21px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.47em;
	letter-spacing: 0;
	color: #d6b990;
}

.sub-wrapper5 .subslide-wrap .slide-text span.name {
	font-weight: 400;
	text-transform: uppercase;
	color: #525252;
	font-size: 20px;
	display: block;
	font-family: 'EB Garamond', serif;
	margin-bottom: 0.25rem;
}
.sub-wrapper5 .subslide-wrap .slide-text span{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
}

.sub-wrapper6 {
	width: 100%;
	height: 90vh;
	position: relative;
}
.sub-wrapper6 .background-img{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.sub-wrapper6  .subtitle-wrap {
	width: 70%;
	height: 60%;
	background-color: #fff;
	position: absolute;
	top: 22%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
}
.sub-wrapper6  .subtitle-wrap .subtitle-lt{
	position: absolute;
	width: 50%;
/* 	height: 100vh; */
	top:14vh;
	left: 12%;
	display: flex;
	flex-direction: column;
	color: #fff;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: left;
	letter-spacing: -0.02em;
}
.sub-wrapper6  .subtitle-wrap .subtitle-lt .sub-title {
	font-size: 21px;
	color: #c9ab81;
	font-style: italic;
	font-weight: 300;
}
.sub-wrapper6  .subtitle-wrap .subtitle-lt .slide-title {
	margin: 14px 0;
	color: #525252;
	font-size: 40px;
    letter-spacing: .16em;
}
.sub-wrapper6  .subtitle-wrap  .article {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	color: #5f5f5f;
	margin-bottom: 1.4rem;
	font-size: 19px;
	line-height: 28px;
}

.sub-wrapper6  .subtitle-wrap  .article2 {
	font-family: "Alegreya Sans";
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
}
.sub-wrapper6  .subtitle-wrap .subtitle-rt{
	position: absolute;
	width: 30%;
/* 	height: 100vh; */
	top:13vh;
	right:16%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.sub-wrapper6  .subtitle-wrap .subtitle-rt input {
	border: 0; 
	border-bottom: 1px solid #ccc;
	size: 60;
	margin:30px 0;
	outline: 0;
}
.sub-wrapper6  .subtitle-wrap .btn {
	position: relative;
	left: -10px;
	top: 30px;
}

.sub-wrapper6  .subtitle-wrap .btn .btn-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 0.825rem;
	letter-spacing: 0.08em;
	color: #5f5f5f;
	z-index: 9;
	cursor: pointer;
}

.sub-wrapper6  .subtitle-wrap .btn:hover .btn-dash {
	stroke-dashoffset: -110%;
}
.sub-wrapper7 {
	width: 100%;
	height: 126vh;
	position: relative;
	max-width: 1900px;
	overflow: hidden;
}
.sub-wrapper7  .cont-wrap2 {
	width: 68%;
	position: relative;
	left: 50%;
	top: 14%;
	transform: translateX(-50%);
	display: flex;
	flex-wrap: wrap;
}
.sub-wrapper7  .cont-wrap2  .subtitile {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 4rem;
}
.sub-wrapper7 .subtitle-lt .sub-title {
	font-size: 1.375rem;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
	font-family: 'EB Garamond', serif;
	letter-spacing: -0.02em;
	margin: 2.025rem 0 1rem 0;
}

.sub-wrapper7 .subtitle-lt .slide-title {
	letter-spacing: 0.4rem;
	margin: 0.6rem 0 1.125rem 0;
	color: #525252;
	font-family: 'EB Garamond', serif;
	font-size: 51px;
	letter-spacing: .16em;
}

.sub-wrapper7 .subtitle-lt .article {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
	margin-bottom: 1rem;
	font-size: 19px;
	line-height: 28px;
	 margin: 19px 0 17px 0;
}

.sub-wrapper7 .subtitle-lt .article2 {
	font-family: "Alegreya Sans";
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f
}
.sub-wrapper7 .subtitle-rt {
	font-family: "Alegreya Sans";
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
	position: absolute;
	top: 16%;
	right: 0;
/* 	bottom: 0; */
}
.sub-wrapper7  .img-wrapper {
	position: relative;
}
.sub-wrapper7  .img-wrapper .img-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: #fff;
/* 	border: 10px solid red; */
	z-index: 9;
	animation-name:none;
	animation-duration:2s;
	animation-iteration-count:initial;
	animation-fill-mode: forwards;
}

.sub-wrapper8 {
	width: 100%;
	height: 128vh;
	position: relative;
	background-color: #f8f8f8;
}
.sub-wrapper8 .cont-wrap {
		width: 68%;
		position: relative;
		left: 50%;
/* 		top: 14%; */
		transform: translateX(-50%);
		display: flex;
		flex-wrap: wrap;
}
.sub-wrapper8 .sub-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	top: -50px;
}

.sub-wrapper8 .sub-wrap .slide-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.825rem;
	font-weight: 600;
	margin-left: 1rem;
	color: #383737;
}

.sub-wrapper8 .sub-wrap .hover-ani {
	cursor: pointer;
	display: block;
	content: "";
	width: 2.25rem;
	margin: 30px 0;
	height: 1px;
	background-color: #c9ab81;
	animation-name: none;
	animation-duration: 0.5s;
}

.sub-wrapper8 .sub-wrap .hover-ani:hover {
	animation-name: hoverAni;
	animation-duration: 0.5s;
}
.sub-wrapper8 .title-wrap {
	position: absolute;
	width: 100%;
	top: 15vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
}

.sub-wrapper8 .sub-title {
	font-size: 1.375rem;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
}

.sub-wrapper8 .slide-title {
	font-size: 3.25rem;
	letter-spacing: .16em;
	margin: 0.875rem 0 1rem 0;
	color: #525252;
}

.sub-wrapper8 .cont {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	color: #5f5f5f;
	font-size: 19px;
	line-height: 28px;
	margin: 11px;
}

.sub-wrapper8 .title-wrap .bar-left {
	position: absolute;
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: 60%;
	left: -10%;
	z-index: 0;
	opacity: .35;

}

.sub-wrapper8 .title-wrap .bar-right {
	position: absolute;
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: 60%;
	right: -10%;
	z-index: 0;
	opacity: .35;
}
.sub-wrapper8 .img-wrapper {
	display: flex;
	top: 300px;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	height: 90vh;
/* 	flex: 16% 0 0; */
}
.sub-wrapper8 .img-wrapper .img-wrap {
margin: 1rem;
overflow: hidden;
} 
.sub-wrapper8 .img-wrapper .img-box{
	cursor: pointer;
	overflow: hidden;
}
.sub-wrapper8 .img-wrapper .img-box:hover img{
	transform:scale(1.1);
	transition: all 1s;
/* 	overflow: hidden; */
}
.sub-wrapper8 .text-wrap {
	font-family: 'EB Garamond', serif;
	width: 88%;
	height: 100px;
	background-color: #f8f8f8;
	position: relative;
	top: -70px;
	right: 0;
	z-index: 3;
}

.sub-wrapper8 .text-wrap .date {
	font-style: italic;
	font-weight: 300;
	line-height: 1.47em;
	letter-spacing: 0;
	color: #c9ab81;
	font-size: 17px;
	padding: 0.8rem 0;
}

.sub-wrapper8 .text-wrap .title {
	color: #525252;
	font-size: 1.375rem;
	letter-spacing: 0.2em;
	line-height: 1.2em;
	cursor: pointer;
}
.sub-wrapper8 .text-wrap .title:hover {
	color: #c9ab81;
}
.sub-wrapper8 .img-wrapper .article {
	font-family: "Alegreya Sans";
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	color: #5f5f5f;
/* 	width: 100%; */
	position: absolute;
	bottom: 110px;
	display: block;
}
.sub-wrapper8 .sub-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	top: 30px;
}

.sub-wrapper8 .sub-wrap .cont {
	font-size: 13px;
	line-height: 2.15em;
	letter-spacing: .07em;
	font-weight: 600;
	font-family: "Open Sans";
	color: #383737;
}

.sub-wrapper8 .sub-wrap .hover-ani {
	cursor: pointer;
	display: block;
	content: "";
	width: 2.25rem;
	margin: 30px 0;
	height: 1px;
	background-color: #c9ab81;
	animation-name: none;
	animation-duration: 0.5s;
}

.sub-wrapper8 .sub-wrap .hover-ani:hover {
	animation-name: hoverAni;
	animation-duration: 0.5s;
}
.sub-wrapper9 {
	width: 100%;
	height: 120vh;
	position: relative;
}
.sub-wrapper9 .title-wrap {
	position: absolute;
	width: 100vh;
	top: 15vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
}

.sub-wrapper9 .sub-title {
	font-size: 1.375rem;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
}

.sub-wrapper9 .slide-title {
	letter-spacing: .16em;
	margin: 0.875rem 0 1rem 0;
	color: #525252;
	font-size: 51px;

}

.sub-wrapper9 .cont {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	color: #5f5f5f;
	font-size: 19px;
	line-height: 28px;
}

.sub-wrapper9 .title-wrap .bar-left {
	position: absolute;
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: 36%;
	left: 0%;
	z-index: 0;
	opacity: .35;

}

.sub-wrapper9 .title-wrap .bar-right {
	position: absolute;
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: 36%;
	right: 0%;
	z-index: 0;
	opacity: .35;
}
.sub-wrapper9 .slide-wrapper3 {
	width: 100%;
	margin-top: 14%;
	position: absolute;
}

.sub-wrapper9 .stage {
	width: 70%;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
	/* border: 10px solid blue; */
}


.sub-wrapper9 .slide-wrap {
	position: relative;
	display: flex;
	width: 150%;
	left: -25%;
}

.sub-wrapper9 .slide {
	position: relative;
	flex: 16.6666% 0 0;
	padding: 0 15px;
}
.sub-wrapper9 .text-wrap {
	font-family: 'EB Garamond', serif;
	position: relative;
	top: 0;
	z-index: 3;
	text-align: center;
}

.sub-wrapper9 .text-wrap .title {
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 0.16rem;
	color: #525252;
	padding: 1.5rem 0 1rem 0;
}

.sub-wrapper9 .text-wrap .star {
	font-size: 1rem;
	letter-spacing: 0.2em;
	color: #c9ab81;
}
.sub-wrapper9 .text-wrap .price {
	font-size: 22px;
	color: #525252;
	margin-top: 1rem;
}
.sub-wrapper9 .btn-wrap {
	width: 300px;
	height: 300px;
	background-color: red;
	border: 50px solid red;
	z-index: 12;
}
.sub-wrapper9 .btn {
	position: relative;
	top: -300px;
	left: 64px;
	z-index: 8;
	display: none;

}

.sub-wrapper9 .btn .btn-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1px;
}

.sub-wrapper9 .btn:hover .btn-dash {
	stroke-dashoffset: -110%;
}
.sub-wrapper9 .btn-prev {
	font-size: 2vw;
	color: red;
	position: absolute;
	z-index: 9;
	top: 40%;
	cursor: pointer;
	margin-left: 10%;
}

.sub-wrapper9 .btn-next {
	right: 0;
	margin-right: 10%;	
	font-size: 2vw;
	color: red;
	position: absolute;
	z-index: 9;
	top: 40%;
	cursor: pointer;
	margin-left: 10%;
}

.sub-wrapper10 {
	width: 100%;
	height: 90vh;
	position: relative;
}
.sub-wrapper10 .background-img{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.sub-wrapper10 .contact-wrap {
	width: 68%;
	height: 60%;
	background-color: #fff;
	position: absolute;
	top: 22%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
}
.sub-wrapper10 .contact-wrap .contact-lt{
	position: absolute;
	width: 50%;
/* 	height: 100vh; */
	top:14vh;
	left: 12%;
	display: flex;
	flex-direction: column;
	color: #fff;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: left;
	letter-spacing: -0.02em;
}
.sub-wrapper10 .contact-wrap .contact-lt .sub-title {
	font-size: 21px;
	color: #c9ab81;
	font-style: italic;
	font-weight: 300;
}
.sub-wrapper10 .contact-wrap .contact-lt .main-title{
	margin: 14px 0;
	color: #525252;
	font-size: 40px;
	letter-spacing: .16em;
}
.sub-wrapper10 .contact-wrap .article {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	color: #5f5f5f;
/* 	margin-bottom: 1.4rem; */
	font-size: 17px;
	line-height:2em;
}

.sub-wrapper10 .contact-wrap .contact-rt {
	position: absolute;
	width: 30%;
/* 	height: 100vh; */
	top:13vh;
	right:16%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.sub-wrapper10 .contact-wrap .contact-rt input {
	border: 0; 
	border-bottom: 1px solid #ccc;
	margin:30px 0;
	outline: 0;
	font-size: 1rem;
	font-weight: 300;

}
.sub-wrapper10 .contact-wrap .contact-rt .sub-input {
	display: flex;
}
.sub-wrapper10 .contact-wrap .contact-rt .sub-input input {
	margin-right: 1em;
}
.sub-wrapper10  .contact-wrap .btn {
	position: relative;
	left: -10px;
	top: 30px;
}

.sub-wrapper10 .contact-wrap .btn .btn-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 0.825rem;
	letter-spacing: 0.08em;
	color: #5f5f5f;
	z-index: 9;
	cursor: pointer;
}

.sub-wrapper10 .contact-wrap .btn:hover .btn-dash {
	stroke-dashoffset: -110%;
}

.footer-wrapper{
	width: 100%;
	height:46vh;
	background-color: #272727;
	position: relative;
}
.footer-wrapper .cont-wrap {
	width: 68%;
	height: 40%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
}
.footer-wrapper .cont-wrap img {
	width: 52px;
}
.footer-wrapper .cont-wrap .info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-wrapper .cont-wrap .museum-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: -5.25em;
}
.footer-wrapper .cont-wrap .museum-info >div, ,.footer-wrapper .opening >div {
	margin-bottom: 1em;
}
.footer-wrapper .cont-wrap .opening {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-wrapper .cont-wrap .follow {
	display: flex;
	flex-direction: column;
	margin-right: 3em;
}
.footer-wrapper .cont-wrap .follow > div {
	margin-bottom: 1rem;
}
.footer-wrapper .cont-wrap .follow > li {
	margin-bottom: 1rem;
}

/********************* 반응형 *********************/
@media screen and (max-width: 1448px) {
	.header-wrapper .title-wrap .slide-title {font-size: 55px;}
	.header-wrapper .side-navi {padding: 65px 40px 30px;}
	.header-wrapper .title-lt  .title-wrap .bar-left, .header-wrapper .title-lt  .title-wrap .bar-right {
		width: 100px;} 
}

@media screen and (max-width: 1399px) {
	.sub-bottom .img-wrapper, .sub-bottom .img-wrapper .img-wrap, .sub-bottom .sub-img {width:357px;}
	.sub-bottom .article-lt, .sub-bottom .article-rt {margin: 2rem;}
	.sub-bottom .article-lt .main-article, .sub-bottom .article-lt>p, .sub-bottom .article-rt>p {width: 337px;}
/* 	.sub-bottom .article-rt>p {text-align: justify;} */
}

@media screen and (max-width: 1200px) {
	.sub-bottom .img-wrapper, .sub-bottom .img-wrapper .img-wrap, .sub-bottom .sub-img {width:307px;}
	.sub-bottom .img-wrapper .img-wrap, .sub-bottom .sub-img {padding: 4.6rem 0;}
	.sub-bottom .article-lt .main-article, .sub-bottom .article-lt>p, .sub-bottom .article-rt>p {width: 287px;}
}

@media screen and (max-width: 1137px) {
	.header-wrapper .htop-wrap {display: none;}
	.header-wrapper .mtop-wrap {display: block;}
	.header-wrapper .top-wrap .logo1 {display: none;}
	.header-wrapper .top-wrap .navi-wrap, .header-wrapper .top-rt .btn, .header-wrapper .top-rt .icon {display: none;}
}

@media screen and (max-width: 1036px) {
	.header-wrapper .btn-prev, .header-wrapper .btn-next {display: none;}
	.header-wrapper .title-wrap .slide-title {width: 436px; height: 150px; line-height: 5rem;}
	.header-wrapper .title-lt  .title-wrap .bar-left, .header-wrapper .title-lt  .title-wrap .bar-right {top: 24%;}
}
@media screen and (max-width: 1024px) {
	.sub-wrapper1 .slide-title {font-size: 2.625rem;}
	.sub-wrapper1 .title-wrap .bar-right , .sub-wrapper1 .title-wrap .bar-left {display: none;}
}
@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
	.header-wrapper .mtop-wrap .mtop-top, .header-wrapper .mtop-wrap .navi-wrapper {width: 600px;}
	.header-wrapper .mtop-wrap .navi-wrapper ul.sub-wrap {width: 583px;}
}

@media screen and (max-width: 676px) {
	.header-wrapper .mtop-wrap .mtop-top, .header-wrapper .mtop-wrap .navi-wrapper {width: 420px;}
	.header-wrapper .mtop-wrap .navi-wrapper ul.sub-wrap {width: 405px;}
	.sub-wrapper1 .slide-title {font-size: 2.5rem;}
}

@media screen and (max-width: 575px) {}