@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap');
/* font-family: 'Alegreya Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/* font-family: 'Cinzel', serif; */

/********************* 공통사항 *********************/
html, body {
	font-family: 'Alegreya Sans', sans-serif;
	color: #fff;
}

.navi-close {position: absolute; transform: translate(-50%, -50%); cursor: none; top: -1000px; left: -1000px; z-index: 888; font-size: 2rem; padding: 100px;}

.btn-dash {
	background-color: transparent;
	color: #fff;
	fill: transparent;
	stroke: #c9ab81;
	transition: 2s;
	stroke-width: 2px;
	stroke-dashoffset: 240%;
	stroke-dasharray: 330% 25;
}
.btn .btn-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 0.825rem;
	letter-spacing: 0.08em;
	color: #5f5f5f;
}
.btn:hover .btn-dash {stroke-dashoffset: -110%;}

.bar-left, .bar-right {
	width: 170px; 
	display: inline-block;
	height: 1px;
	background-color: #525252;
	top: calc(50% - 10px);
	z-index: 0;
	opacity: .35;
}
@keyframes hoverAni {
	0% {transform-origin: right; transform: scaleX(1);}
	49% {transform-origin: right;}
	50% {transform-origin: left; transform: scaleX(0);}
	99% {transform-origin: left;}
	100% {transform: scaleX(1);}
}

@keyframes scroll {
	0% {transform: translateY(0);}
	100% {	transform: translateY(100%);}
}
@keyframes scroll2 {
	0% {transform: translateX(0);}
	100% {	transform: translateX(100%);}
}
/********************* .header-wrapper *********************/
/* .top-div {
	position: relative;
	z-index: 2;
	font-size: 16px;
} */

.header-wrapper { width: 100%; height: 100vh; position: relative;}
.cont-wrap {position: absolute; width: 100%; height: 100%; top: 0; left: 0; cursor: pointer;}
.htop-wrap {
	font-size: 0.75rem;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625rem 3rem 0.625rem 2.25rem;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.htop-wrap .htop-lt {display: flex; justify-content: space-between; width: 755px;}
.htop-wrap .htop-lt div {display: flex; align-items: center; cursor: pointer;}
.htop-wrap .htop-lt .icon {margin-right: 0.825em; font-size: 1rem;}
.htop-wrap .htop-lt div:hover {color: #c9ab81;}
.htop-wrap .htop-rt {display: flex; width: 295px; justify-content: space-between; align-items: center;}
.htop-wrap .htop-rt .text:hover {color: #c9ab81;}

.top-wrap {padding: 2.25rem 2.825rem 0 2.25rem; display: flex; justify-content: space-between;}
.top-wrap .navi-wrap {display: flex; font-family: 'EB Garamond', serif; font-weight: bold; letter-spacing: 0.1875em; font-size: 0.875rem;}
.top-wrap .top-lt {display: flex;}
.top-wrap .top-lt .logo-wrap {font-size: 0;}
.top-wrap .top-lt img {width: 46px;}
.top-wrap .navi {margin-left: 3.2em; padding-top: 0.5em; position: relative;}
.top-wrap .navi > div {padding: 0.5rem 0; }
.top-wrap .navi-wrap .hover-active::after {display: block; content: ""; border-bottom: 1px solid #e7c5a1;}
.top-wrap .navi-wrap .hover-link::after {display: block; content: ""; border-bottom: 1px solid #e7c5a1;
	transition: all 0.3s; transform-origin: left; transform: scaleX(0);}
.top-wrap .navi-wrap .hover-link:hover::after {transform-origin: right; transform: scaleX(1);}
.top-wrap .navi-wrap ul.sub-wrap1 {display: none; position: absolute; top: 4.375em; left: -2.5em; width: 239px; height: auto; background-color: #fff; color: #5f5f5f; font-size: 1rem; padding: 1.75em 0 2.06em 0;}
.top-wrap .navi-wrap ul.sub-wrap1>li {
		width: 100%; padding: 0.45rem 2.5rem; font-family: 'EB Garamond', sans-serif;
		font-style: italic; font-weight: 400; letter-spacing: 0.0625em; line-height: 2.375em; height: 2.375em;
		cursor: pointer;}
.top-wrap .navi-wrap ul.sub-wrap1>li.active {color: #c9ab81;}
.top-wrap .navi-wrap ul.sub-wrap1>li:hover {color: #c9ab81; transition: all .2s;}
.top-rt { position: relative; display: flex; align-items: center;}
.top-rt .btn { position: relative;}
.top-rt .btn .btn-text.btn-w {color:#fff;}
.top-rt .icon{font-size: 1.2rem; padding: 1rem; cursor: pointer;}
.top-rt .bar {display: flex; flex-direction: column; align-items: center; cursor: pointer;}
.top-rt .bar div::after {border: 1px solid #fff; display: block; content: ""; width: 25px; margin: 4px}

.stage {width: 100%; height: 100%;/*  position: absolute;  */position: relative; display: flex; flex-direction: column; overflow: hidden;}
.stage .slide-wrapper {position: relative;}
.stage .slide-wrapper>.slide {width: 100%; height: 100vh; background-repeat: no-repeat; background-size: cover; background-position: center; /* transform: scale(1.3); */transition: all 1.5s;}
.stage .slide-wrapper> :nth-child(2) {position: absolute; top: 0; left: 0; opacity: 0;}
.stage .title-wrapper {
	position: absolute;
	width: 90vh;
	top: 41.2vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	color: #fff;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
}
.stage .title-lt .title-wrap {opacity: 0; transform: translateY(20vh);transition: all 2s;}
.stage .title-lt .title-wrap .bar-left {
	position: absolute;
	width: 140px;
	display: inline-block;
	height: 1px;
	background-color: #fff;
	top: 18%;
	left: -30%;
	z-index: 0;
	opacity: .35;
}
.stage .title-lt  .title-wrap .bar-right {
	position: absolute;
	width: 140px;
	display: inline-block;
	height: 1px;
	background-color: #fff;
	top: 18%;
	right: -30%;
	z-index: 0;
	opacity: .35;
}
.stage .title-wrap .sub-title {font-size: 22px; color: #c9ab81; font-style: italic; font-weight: 400;}
.stage .title-wrap .slide-title {font-size: 71px; letter-spacing: 13px; margin: 22px 0 55px 0;}
.stage .title-wrap .btn {position: relative; margin-bottom: 220px;}
.stage .pager-wrap {
	display: flex;
	align-items: center;
	position: absolute;
	left: 50%;
	bottom: -12%;
	transform: translateX(-50%);
	user-select: none;
	z-index: 9;
}
.stage .pager {font-size: 48px; cursor: pointer; margin: 10px; transform: scale(1); transition: all .5s; display:flex; align-content: center;}
.stage .pager:hover {transform: scale(1.3); margin-bottom: 14px;}
.stage .pager.active {transform: scale(1.3); margin-bottom: 14px;}
.stage .btn-prev,.stage .btn-next {font-size: 2rem; position: absolute; z-index: 9; top: 50%; transform: translateY(-50%); cursor: pointer;}
.stage .btn-prev {margin-left: 32px;}
.stage .btn-next {right: 0; margin-right: 32px;}

.mtop-wrap {
	color: #5f5f5f;
	font-family: 'EB Garamond', serif;
	letter-spacing: 0.1875em;
	font-size: 0.875rem;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	display: none;
}
.mtop-wrap .logo-wrap {font-size: 0; cursor: pointer;}
.mtop-wrap img {width: 46px;/*  display: block; */}
.mtop-wrap .mtop-top {
	max-width: 1200px;
	display: flex;
	justify-content: space-between; 
	align-items:center;
	padding: 0.6rem 0;
	width: 768px;
	left: 50%;
	margin: 0.6rem auto;
	/* 	transform: translateX(-50%); */
}
.mtop-wrap .mtop-top .navi-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	display: block;
	/* 	border: 1px solid red; */
}
.mtop-wrap .mtop-top .navi-bar div::after {
	opacity: 0.5;
	display: block;
	content: "";
	width: 25px;
	margin: 0.4rem 0; border: 1px solid #4e4e4e;
	font-size: 0;
}
.mtop-wrap .mtop-bottom {
	background-color: #fff;
	position: absolute;
	top: 70px;
	width: 100%;
	display: none;
	z-index: 700;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	display: none;
}
.mtop-wrap .navi-wrapper {
	width: 768px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin: 0 auto;
}
.mtop-wrap .navi-wrapper .navi-wrap {display: block; width: 100%;}
.mtop-wrap .navi-wrapper .navi {
	padding: 9px 0;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(90, 90, 90, 0.2);
	cursor: pointer;
	margin: 0;
	font-family: 'Cinzel', serif;
	font-weight: 400;
	color: #525252;
}
.mtop-wrap .navi-wrapper .icon {color: #525252; opacity: .5; font-size: 0.4rem; margin-right: 0.5rem;}
.mtop-wrap .navi-wrapper ul.sub-wrap {
	background-color:#fff;
	font-weight: 300;
	font-size: 17px;
	font-style: italic;
	width: 753px;
	position: static;
	display: flex;
	flex-direction: column;
	height: auto;
	color: #a4a4a4;
	width: 753px;
	margin: 0;
	padding: 0;
	margin-left: 1rem;
	display: none;
}
.mtop-wrap .navi-wrapper ul.sub-wrap li {
	padding: 6px 0;
	align-items: center;
	line-height: 2rem;
	border-bottom: 1px solid rgba(90, 90, 90, 0.2);
}
.mtop-wrap .navi-wrapper ul.sub-wrap li.active {color: #525252;}
.mtop-wrap .mtop-bottom.show {overflow: scroll; width: 100%; display: block;}
.mtop-wrap .mtop-bottom.show2 {width: 100%; display: block;}
.mtop-wrap .navi-wrapper ul.sub-wrap.show {display: block;}

.side-navi {
	position: fixed;
	top: 0;
	right: -405px;
	height: 100%;
	width: 405px;
	background-color: rgb(241, 241, 241);
	padding: 110px 50px 36px;
	color: #424242;
	transition: right 0.5s ease;
	z-index: 999;
}
.side-navi.show {right: 0;}
.side-navi.hide {right: -900px;}
.side-navi .icon {cursor: pointer; padding-top: 2px;}
.side-navi .icon-title {font-family: 'EB Garamond', serif; font-size: 20px; letter-spacing: 0.2rem; cursor: pointer;}
.side-navi .icon-title:hover {color: #c9ab81;}
.side-navi .icon-text {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	margin: 13px 0 0;
	bottom: 0;
	height: 52px;
	line-height: 1.5rem;
	color: #5f5f5f;
}
.side-navi .logo-wrap {margin-bottom: 3.5rem;}
.side-navi .logo-wrap img {width: 65px;}
.side-navi .navi {display: flex; height: 95px; margin-top: 20px;}
.side-navi .navi .text{width: 220px; margin: 0 0 0 13px;}
.side-navi .icons {color: #5f5f5f; margin-top: 2.5rem; font-size: 0.75rem; font-weight: bold;}
.side-navi .icons .icon {margin-left: 1.4rem;}


/********************* .history-wrapper *********************/
.history-wrapper {	width: 100%; color: #5f5f5f; position: relative; display: flex; flex-direction: column; align-items:center; justify-content:center;}
.history-wrap {margin: 0 auto;}

.history-top {margin: 8.25rem 0 2rem 0;}
.history-top .title-wrap {display: flex; font-family: 'EB Garamond', serif; letter-spacing: -0.02em; align-items: center; justify-content:center;}
.history-top .titles {margin: 0 5rem; text-align: center;}
.history-top .sub-title {font-size: 22px; color: #c9ab81; font-style: italic; font-weight: 400;}
.history-top .slide-title {font-size: 3.1875rem; letter-spacing: 8px; margin: 14px 0 50px 0; color: #525252;}

.history-bottom {display: flex; padding-bottom: 10rem;}
.history-bottom .history {width: 374px;}
.history-bottom .img-wrapper {position: relative; width:423px;}
.history-bottom .img-wrapper .img-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width:423px;
	height: 100%;
	background-color: #fff;
	z-index: 9;
	animation-name:none;
	animation-duration:2s;
	animation-iteration-count:initial;
	animation-fill-mode: forwards;
}
.history-bottom .sub-img {width:423px;}
.history-bottom .article-lt {padding: 5rem 3.75rem 0 0;}
.history-bottom .article-rt {padding: 5rem 0 0 3.75rem; z-index: 2;}
.history-bottom .main-article {font-size: 1.1875rem; font-weight: 400; line-height: 1.47em; margin-bottom: 2rem;}
.history-bottom p {font-size: 1.0625rem; font-weight: 400; line-height: 1.58em;}
.history-bottom .article-rt .article {margin-bottom: 1.25rem;}
.history-bottom .btn {position: relative; top: 2.75em; right: 12px;}


/********************* .art-wrapper *********************/
.art-wrapper {width: 100%; position: relative; display: flex; justify-content: space-between; max-width: 1900px; overflow: hidden; z-index: 9;}
.art-wrapper .arttitle-wrapper {width: 50%; display: flex; flex-direction: column; z-index: 2; background-color: rgb(243, 243, 243); padding: 11.5rem 10.75rem 14rem 13.5rem;}

.art-wrapper .sub-title {color: #c9ab81;font-family: 'EB Garamond', serif; font-size: 21px; font-style: italic; font-weight: 300;}
.art-wrapper .art-title {margin: 0.6rem 0 1.125rem 0; color: #525252; font-family: 'EB Garamond', serif; font-size: 40px; line-height: 1.17em; letter-spacing: .16em;}
.art-wrapper .main-article {font-size: 1.1875rem; font-family: 'Alegreya Sans', sans-serif; font-weight: 400; line-height: 1.58em; margin-bottom: 1.25rem; color: #5f5f5f;}
.art-wrapper .arttitle-wrapper p {font-size: 1.0625rem; font-family: 'Alegreya Sans', sans-serif; font-weight: 400; line-height: 1.58em; color: #5f5f5f;}
.art-wrapper .btn {position: relative; top: 2.75em; right: 0.75rem;}

.art-wrapper.img-wrap {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	background-color: #fff;
	z-index: 9;
	animation-name:none;
	animation-duration:2s;
	animation-iteration-count:initial;
	animation-fill-mode: forwards;}
	
	.art-wrapper .sub-img {width:  50%; height: auto;}
	
	
	/********************* .view-wrapper *********************/
.view-wrapper {width: 100%; color: #5f5f5f; flex-direction:column; justify-content:center; align-items:center; overflow: hidden;}
	
.view-wrapper .title-wrap {display: flex; z-index: 2; font-family: 'EB Garamond', serif; text-align: center; letter-spacing: -0.02em; align-items: center; margin: 9rem 0 4rem 0; align-items: center; justify-content:center;}
.view-wrapper .titles {margin: 0 5rem;}
.view-wrapper .sub-title {font-size: 1.375rem; color: #c9ab81; font-style: italic; font-weight: 400;}
.view-wrapper .slide-title {font-size: 3.25rem; letter-spacing: 0.45rem;margin: 0.875rem 0 0 0; color: #525252;}

.view-wrapper .slide-wrapper2 {max-width: 1400px; margin: 50px auto; position: relative;}
.view-wrapper .stage {width: 90%; margin: auto; position: relative; overflow: hidden;}
.view-wrapper .slide-wrap {position: relative; display: flex; width: 150%; left: -25%;}
.view-wrapper .slide {position: relative; flex: 16.6666% 0 0; padding: 1.25rem;}

.view-wrapper .img-wrapper {position: relative; width:100%;}
.view-wrapper .img-wrapper .img-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: #fff;
	z-index: 9;
	animation-name:none;
	animation-duration:2s;
	animation-iteration-count:initial;
	animation-fill-mode: forwards;
}

.view-wrapper .text-wrap {
	font-family: 'EB Garamond', serif;
	width: 88%;
	height: 100px;
	background-color: #fff;
	position: relative;
	top: -80px;
	z-index: 9;
}

.view-wrapper .text-wrap .slide-subt {font-weight: 300; font-style: italic; font-size: 1.2rem; color: #c9ab81; padding: 1.5rem 0 1rem 0;}
.view-wrapper .text-wrap .slide-maint {color: #525252; font-size: 1.375rem; letter-spacing: 0.2em; line-height: 1.2em;}
.view-wrapper .sub-wrap {display: flex; flex-direction: row; align-items: center; position: relative; cursor: pointer; z-index: 9;}
.view-wrapper .sub-wrap .slide-text {font-family: 'Open Sans', sans-serif; font-size: 0.825rem; font-weight: 600; margin-left: 1rem; color: #383737;}

.view-wrapper .sub-wrap .hover-ani {
	cursor: pointer;
	content: "";
	width: 2.25rem;
	margin: 30px 0;
	height: 1px;
	background-color: #c9ab81;
	animation-name: none;
	animation-duration: 0.5s;
}

.view-wrapper .sub-wrap:hover .hover-ani{animation-name: hoverAni; animation-duration: 0.5s;}
.view-wrapper .btn-prev, .view-wrapper .btn-next {font-size: 2em; color: #5f5f5f; z-index: 9; position: absolute; top:40%; cursor: pointer;}
.view-wrapper .btn-prev {left: 10px;}
.view-wrapper .btn-next {right: 10px;}


/********************* .artist-wrapper *********************/
.artist-wrapper {position: relative;}

.artist-wrapper .sub-img {width: 100%; height: 630px; background-repeat: no-repeat; background-size: cover;}

.artist-wrapper .img-text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 60%;
	width: 0;
	height: 30%;
	background-color: #fff;
	transition: all 1s;
	transform-origin: right;
}
.artist-wrapper .img-change {
	width:437px;
	display: block;
}
.artist-wrapper .img-wrap .text-change {
	display:block;
}
.artist-wrapper .img-wrap {
	/* display:none; */
	transition: all 1s;
	width: 194px;
	margin:2.3rem 11.875rem 3rem 3.3rem;
}
.artist-wrapper .maint {
	font-family: eb garamond;
	margin-top: 1rem;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.35em;
	letter-spacing: .16em;
	color: #525252;
}

.artist-wrapper .subt {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
/* 	width: 100%; */
	color: #5f5f5f;
}


/********************* .reading-wrapper *********************/
.raeding-wrapper {position: relative; width: 100%; color: #525252; display: flex; flex-direction: column;  justify-content: center; align-items: center; overflow: hidden;}

.raeding-wrapper .title-wrap {
	display: flex;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
	padding: 9rem 0 0 0;
}

.raeding-wrapper .sub-title {font-size: 1.375rem; color: #c9ab81; font-style: italic; font-weight: 400;}
.raeding-wrapper .slide-title {font-size: 3.18rem; letter-spacing: .16em; margin: 0.875rem 0 0 0;}

.raeding-wrapper .cont {font-family: 'Alegreya Sans', sans-serif; font-weight: 400; color: #5f5f5f; font-size: 19px; line-height: 28px; margin: 11px;}
.raeding-wrapper .title-wrap .titles {display: flex; flex-direction: column; margin: 0 2rem;}

.raeding-wrapper .cont-wrap {border: 2px solid skyblue; width: 1300px; position: relative; display: flex; flex-direction: column; align-items: center; margin: 6rem 0; overflow: hidden;}
.raeding-wrapper .cont-wrap h3 {font-family: 'EB Garamond', serif; font-size: 22px; line-height: 1.313em; font-weight: 400; letter-spacing: .1em;}
.raeding-wrapper .line-wrap {position: relative; position: absolute; width: 10px; height: 100%; left: 50%; z-index:99;}
.raeding-wrapper .line-wrap .main-line {position: absolute; width: 1px; height: 100%; background-color: rgb(214, 214, 214);}
.raeding-wrapper .cont-wrap .main-sub {position: absolute; width: 1px; height: 0; background-color: #4E4E4E;}
.raeding-wrapper .cont-wrap .line-change{height: 110px; transition: all 1s;}
.raeding-wrapper .cont-wrap .main-sub2 {position: absolute; width: 1px; top: 110px; height: 0; background-color:  #4E4E4E;}
.raeding-wrapper .cont-wrap .line-change2 {height: 840px; transition: all 1s;}
.raeding-wrapper .cont-wrap .main-sub3 {position: absolute; width: 1px; top: 942px; height: 0; background-color: #4E4E4E;}
.raeding-wrapper .cont-wrap .line-change3 {height: 840px; transition: all 1s;}
.raeding-wrapper .line-wrap .point {position: absolute; width: 10px; height: 10px; top: 4.5%; transform: translateX(-50%); background-color: #4E4E4E; border-radius: 50%;}
.raeding-wrapper .line-wrap .sub-line {position: absolute; width: 8vw; top: 4.7%;height: 1px; background-color: #4E4E4E;}
.raeding-wrapper .line-wrap .sub2 {right: 10px;}
.raeding-wrapper .cont-wrap .img-wrapper {position: relative; width: 561px; margin-right: 8rem; border: 3px solid red }

.raeding-wrapper .cont-wrap .img-wrapper .cntimg-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 561px;
	height: 100%;
	z-index: 4;
	animation-name:none;
	animation-duration:2s;
	animation-iteration-count:initial;
	animation-fill-mode: forwards;
}

.raeding-wrapper .cont-1910 {display: flex; justify-content: space-between;}
.raeding-wrapper .cont-wrap .lt, .raeding-wrapper .cont-wrap .rt {width: 50%;}
.raeding-wrapper .cont-1910 .subtitle-wrap { margin-top: 7%; /* width: 375px;  */display: block; margin: 6.3rem 5.5rem 0 9rem;}

.raeding-wrapper img {width: 561px;}

.raeding-wrapper .subtitle-wrap .sub-title {
	font-size: 1.375rem;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
	font-family: 'EB Garamond', serif;
	letter-spacing: -0.02em;
	margin: 2.025rem 0 1rem 0;
}

.raeding-wrapper .subtitle-wrap .slide-title {
	font-size: 2.5rem;
	letter-spacing: 0.4rem;
	margin: 0.6rem 0 1.125rem 0;
	color: #525252;
	font-family: 'EB Garamond', serif;
}

.raeding-wrapper .article {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
	margin-bottom: 1rem;
}

.raeding-wrapper .article2 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
}

.raeding-wrapper .cont-1982 {margin-top: 6rem; display: flex; justify-content: space-between;}
.raeding-wrapper .cont-1982 .img-wrapper {margin: 0 0 0 8rem;}
.raeding-wrapper .cont-1982 .subtitle-wrap {margin-top: 7%; z-index: 9; margin-top: 7%; display: block; margin: 6.3rem 9rem 0 5.5rem;}

.raeding-wrapper .cont-1982 h3 {text-align: end;}
.raeding-wrapper .cont-19822 {display: none;}
.raeding-wrapper .cont-2002 {margin-top: 6rem; display: flex; justify-content: space-between;}
.raeding-wrapper .cont-2002 .subtitle-wrap {margin-left: 8%; margin-top: 7%; z-index: 9; display: block; margin: 6.3rem 5.5rem 0 9rem;}

.raeding-wrapper .slide-wrapper3 {width: 1100px; margin: 3rem auto 7rem; position: relative; z-index: 9; border: 2px solid red;}
.raeding-wrapper .reading-stage {width: 100%; position: relative; overflow: hidden; border: 2px solid blue;}
.raeding-wrapper .slide-wrap {padding:2rem 12.5rem; border: 2px solid coral; }
.raeding-wrapper .slide-wrap .slide {display: flex; align-items: center; flex-direction: column; width: 100%;}
.raeding-wrapper .slide:nth-child(2) {position: absolute; top: 0; left: -100%; opacity: 0;}

.raeding-wrapper .slide-wrap .slide-text {
	text-align: center;
	margin: 1rem 0 2rem 0;
	font-family: 'EB Garamond', serif;
	font-size: 21px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.47em;
	color: #d6b990;
}
.raeding-wrapper .slide-wrap .slide-article{
	margin: 1rem 0 2rem 0;
	font-family: 'EB Garamond', serif;
	font-size: 21px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.47em;
	color: #d6b990;
}

.raeding-wrapper .slide-wrap .slide-name {
	font-weight: 400;
	text-transform: uppercase;
	color: #525252;
	font-size: 20px;
	display: block;
	letter-spacing: 0.2rem;
	font-family: 'EB Garamond', serif;
	margin-bottom: 0.5rem;	
}
.raeding-wrapper .slide-wrap .slide-visitor{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	color: #5f5f5f;
}

.raeding-wrapper .slide-wrapper3 .btn-next, 
.raeding-wrapper .slide-wrapper3 .btn-prev {font-size: 2vw; color:#525252; position: absolute; z-index: 9; top: calc(50% - 1vw); cursor: pointer;}
.raeding-wrapper .slide-wrapper3 .btn-next {right: 0;}

.raeding-wrapper .slide-wrapper3 .pager-wrap {position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; user-select: none;}
.raeding-wrapper .slide-wrapper3 .pager {font-size: 8px; color: #525252; cursor: pointer; margin: 0.5rem; align-items: center;}
.raeding-wrapper .slide-wrapper3 .pager.active {font-size: 12px;}


/********************* .reading-wrapper *********************/
.news-wrapper {width: 100%; position: relative; height: auto; background-image: url(../img/h1-bg-img-2.jpg);
	background-repeat: no-repeat; background-size: auto;}

.news-wrapper .news-wrap {position: relative; width: 1300px; margin: 0 auto; padding: 11.25rem 0; z-index: 20;}
.news-wrapper .news-wrap .subtitle-wrap {background-color: #fff; border: 1px solid red; display: flex; justify-content: space-between;}
.news-wrapper .subtitle-wrap .subtitle-lt{
	display: flex;
	flex-direction: column;
	font-family: 'EB Garamond', serif;
	text-align: left;
	letter-spacing: -0.02em;
	padding: 8.25rem 3.75rem 8.5rem 9.3rem;
	width: 50%;
}
.news-wrapper .subtitle-lt .sub-title {
	font-size: 21px;
	color: #c9ab81;
	font-style: italic;
	font-weight: 300;
}
.news-wrapper .subtitle-lt .slide-title {
	margin: 14px 0;
	color: #525252;
	font-size: 40px;
	line-height: 1.17em;
	letter-spacing: .16em;
}
.news-wrapper .subtitle-lt .article {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	color: #5f5f5f;
	margin-bottom: 1.4rem;
	font-size: 19px;
	line-height: 28px;
	letter-spacing: 0;
}
.news-wrapper .subtitle-lt .article2 {
	font-family: "Alegreya Sans";
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
}
.news-wrapper .subtitle-rt { width: 50%; padding: 8.5rem 5rem 8.5rem 3rem; display: flex; flex-direction: column; align-items: flex-start;}
.news-wrapper .subtitle-rt input {border: 0; border-bottom: 1px solid #ccc; margin:1.75rem 0; outline: 0;}
.news-wrapper  .subtitle-wrap .btn {position: relative; left: -10px; top: 30px;}


/********************* .visits-wrapper *********************/
.visits-wrapper {
	position: relative;
	max-width: 1900px;
	overflow: hidden;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.visits-wrapper .visits-wrap {width: 1330px; display: flex; justify-content: space-between; padding: 9.1875rem 0 4.5rem;}
.visits-wrapper .visits-wrap .visit-lt {width: 50%;  padding: 0 2.625rem 0 0; font-family: 'EB Garamond', serif;}
.visits-wrapper .visit-lt .sub-title {
	font-size: 1.375rem;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
	letter-spacing: -0.02em;
	margin: 0 0 1rem 0;
}

.visits-wrapper .visit-lt .slide-title {
	letter-spacing: 0.4rem;
	margin: 0.6rem 0 1.125rem 0;
	color: #525252;
	font-size: 51px;
	letter-spacing: .16em;
	line-height: 1.15em;
}

.visits-wrapper .visit-lt .article {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	line-height: 1.58em;
	letter-spacing: 0;
	color: #5f5f5f;
	margin-bottom: 1rem;
	font-size: 19px;
	line-height: 28px;
	 margin: 19px 0 17px 0;
}

.visits-wrapper .visit-lt .article2 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	color: #5f5f5f
}
.visits-wrapper .visits-wrap .visit-rt {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	color: #5f5f5f;
	padding: 6.5rem 5rem 0 2rem;
	width: 50%;
}

.visits-wrapper .img-wrapper { position: relative; padding: 0 0 10rem 0;}
.visits-wrapper .img-wrapper .img-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: #fff;
	z-index: 9;
	animation-name:none;
	animation-duration:2s;
	animation-iteration-count:initial;
	animation-fill-mode: forwards;
}

/********************* .blog-wrapper *********************/
.blog-wrapper {
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	background-color: #f8f8f8;
}

.blog-wrapper .title-wrap {
	display: flex;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	align-items: center;
	justify-items: center;
	align-items: center;
	padding: 9.2rem 0 4.3rem;
}
.blog-wrapper .titles {margin: 0 5rem;}
.blog-wrapper .sub-title {font-size: 1.375rem; color: #c9ab81; font-style: italic; font-weight: 400;}
.blog-wrapper .slide-title {font-size: 3.25rem; letter-spacing: .16em; margin: 0.875rem 0 1rem 0; color: #525252;}

.blog-wrapper .img-wrapper {display: flex; border: 2px solid darkslategrey;}
.blog-wrapper .img-wrapper .img-wrap {margin: 0 1rem; display: flex; flex-direction: column; justify-items: flex-start;} 
.blog-wrapper .img-wrapper .img-box {cursor: pointer; overflow: hidden;  width: 421px; position: relative;}
.blog-wrapper .img-wrapper .img-box:hover img{transform:scale(1.05);	transition: all 1s;}

.blog-wrapper .text-wrap {font-family: 'EB Garamond', serif; position: relative; top: -70px; right: 0; z-index: 3;}
.blog-wrapper .text-wrap .date {
	font-style: italic;
	font-weight: 300;
	line-height: 1.47em;
	letter-spacing: 0;
	color: #c9ab81;
	font-size: 17px;
	padding: 0.8rem 0;
	width: 80%;
	background-color: #f8f8f8;
}
.blog-wrapper .text-wrap .title {
	color: #525252;
	font-size: 1.375rem;
	letter-spacing: 0.2em;
	line-height: 1.2em;
	cursor: pointer;
	width: 80%;
	background-color: #f8f8f8;
}
.blog-wrapper .text-wrap .title:hover {color: #c9ab81;}
.blog-wrapper .img-wrapper .article {
	font-family: "Alegreya Sans";
	font-size: 17px;
	font-weight: 400;
	line-height: 1.58em;
	color: #5f5f5f;
	margin: 0.825rem 0 0;
	width: 413px;
}
.blog-wrapper .sub-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	margin: 2rem 0 1.56rem;
	cursor: pointer;
}

.blog-wrapper .sub-wrap .cont {
	font-size: 13px;
	line-height: 2.15em;
	letter-spacing: .07em;
	font-weight: 600;
	font-family: "Open Sans";
	color: #383737;
	margin-left: 1rem;
}

.blog-wrapper .sub-wrap .hover-ani {
	cursor: pointer;
	display: block;
	content: "";
	width: 2.25rem;
	margin: 30px 0;
	height: 1px;
	background-color: #c9ab81;
	animation-name: none;
	animation-duration: 0.5s;
}

.blog-wrapper .sub-wrap:hover .hover-ani {animation-name: hoverAni; animation-duration: 0.5s;}

.blog-wrapper .sub-wrap .slide-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.825rem;
	font-weight: 600;
	margin-left: 1rem;
	color: #383737;
}

/********************* .shop-wrapper *********************/
.shop-wrapper {
	width: 100%;
	position: relative;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}
.shop-wrapper .title-wrap {
	display: flex;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: center;
	letter-spacing: -0.02em;
	justify-content:center;
	padding: 9rem 0 0;
}

.shop-wrapper .sub-title {
	font-size: 1.375rem;
	color: #c9ab81;
	font-style: italic;
	font-weight: 400;
}
.shop-wrapper .slide-title {
	letter-spacing: .16em;
	margin: 0.875rem 0 1rem 0;
	color: #525252;
	font-size: 51px;
}
.shop-wrapper .cont {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	color: #5f5f5f;
	font-size: 19px;
	line-height: 28px;
}
.shop-wrapper .titles {
	margin: 0 2rem;
	display: flex;
	flex-direction: column;
}
.shop-wrapper .title-wrap .bar-left {
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	margin-top: 4rem;
	opacity: .35;
}

.shop-wrapper .title-wrap .bar-right {
	width: 170px;
	display: inline-block;
	height: 1px;
	background-color: #525252;
	margin-top: 4rem;
	right: 0%;
	opacity: .35;
}
.shop-wrapper .slide-wrapper3 {max-width: 1400px; margin: 50px auto; position: relative;}
.shop-wrapper .stage {width: 90%; margin: auto; position: relative; overflow: hidden;}
.shop-wrapper .slide-wrap {position: relative; display: flex; width: 150%; left: -25%;}
.shop-wrapper .slide {position: relative; flex: 16.6666% 0 0; padding: 1.25rem;}

.shop-wrapper .text-wrap {
	font-family: 'EB Garamond', serif;
	position: relative;
	top: 0;
	z-index: 3;
	text-align: center;
}

.shop-wrapper .text-wrap .title {
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 0.16rem;
	color: #525252;
	padding: 1.5rem 0 1rem 0;
}

.shop-wrapper .text-wrap .star {
	font-size: 1rem;
	letter-spacing: 0.2em;
	color: #c9ab81;
}
.shop-wrapper .text-wrap .price {
	font-size: 22px;
	color: #525252;
	margin-top: 1rem;
}
.shop-wrapper .btn-wrap {
	width: 300px;
	height: 300px;
	z-index: 12;
}
.shop-wrapper .btn {
	position: relative;
	top: -300px;
	left: 64px;
	z-index: 8;
	display: none;

}

.shop-wrapper .btn-prev {
	position: absolute;
	font-size: 2vw;
	color: #525252;
	z-index: 9;
	top: 40%;
	left: 0;
	cursor: pointer;
	margin-left: 10%;
}

.shop-wrapper .btn-next {
	position: absolute;
	right: 0;
	margin-right: 10%;	
	font-size: 2vw;
	color: #525252;
	z-index: 9;
	top: 40%;
	cursor: pointer;
}

.contact-wrapper {width: 100%; position: relative; height: auto;
	background-image: url(../img/h1-bg-img-3.jpg);
	background-repeat: no-repeat;
	background-size: auto;
/* 	margin-bottom: 46vh; */}

.contact-wrapper .contact-wrap {
	position: relative;
	width: 1300px;
	margin: 0 auto;
	padding: 11.25rem 0;
	z-index: 20;
}

.contact-wrapper .contact-wrap .contact {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}
.contact-wrapper .contact .contact-lt{
	display: flex;
	flex-direction: column;
	color: #fff;
	z-index: 2;
	font-family: 'EB Garamond', serif;
	text-align: left;
	letter-spacing: -0.02em;
	padding: 8rem 3.75rem 8.5rem 9.3rem;
}
.contact-wrapper .contact .cont {
	width: 440px;
}
.contact-wrapper .contact .icons {
	color: #525252;
}
.contact-wrapper .contact .icons > .icon {
	margin: 1rem 1rem 0 0;
}
.contact-wrapper .contact .contact-lt .sub-title {
	font-size: 21px;
	color: #c9ab81;
	font-style: italic;
	font-weight: 300;
}
.contact-wrapper .contact .contact-lt .main-title{
	margin: 14px 0;
	color: #525252;
	font-size: 40px;
	line-height: 1.17em;
	letter-spacing: .16em;
}
.contact-wrapper .contact .article {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	color: #5f5f5f;
	font-size: 17px;
	line-height:2em;
}

.contact-wrapper .contact .contact-rt {
	padding: 8.5rem  8rem 8.5rem 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.contact-wrapper .contact .contact-rt input {
	border: 0; 
	border-bottom: 1px solid #ccc;
	margin:1.825rem 0;
	outline: 0;
	font-size: 1rem;
	font-weight: 300;
}
.contact-wrapper .contact .contact-rt .sub-input {
	display: flex;
}
.contact-wrapper .contact .contact-rt .sub-input input {
	margin-right: 1em;
}
.contact-wrapper  .contact .btn {
	position: relative;
	left: -10px;
	top: 20px;
}


.footer-wrapper{
	width: 100%;
	background-color: #272727;
	position: fixed;
	position: relative;
	z-index:10 ;
	justify-content:center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.footer-wrapper .f-info {
	width: 302px;
}
.footer-wrapper .cont-wrap {
	display: flex;
	font-size: 17px;
/* 	margin: 0 11.25rem; */
	padding: 8rem 0; 
/* 	border: 1px solid red; */
}
.footer-wrapper .cont-wrap img {
	width: 52px;
	margin-bottom: 1.4rem;
}
.footer-wrapper .cont-wrap .info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-wrapper .cont-wrap ul.museum-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-wrapper .cont-wrap ul.info > li {margin: 1rem 0; }
.footer-wrapper .cont-wrap ul.f-info > li {margin: 0.6rem 0; }
.footer-wrapper .cont-wrap ul.f-info > div {margin: 0 0 1rem ;}

.footer-wrapper .cont-wrap .museum-info >div, .footer-wrapper .opening >div {
	margin-bottom: 1em;
}
.footer-wrapper .cont-wrap .opening {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-wrapper .cont-wrap .follow {
	display: flex;
	flex-direction: column;
}
.footer-wrapper .cont-wrap .follow > div {
	margin-bottom: 1rem;
}
.footer-wrapper .cont-wrap .follow > li {
	margin-bottom: 1rem;
}

.sct-wrapper {width: 90%; position: fixed; bottom: 20px; left: 95%; z-index: 9999; cursor: pointer;}
.sct-wrapper .box {width: 45px; height: 45px; background-color: #333;  position: relative;}
.sct-wrapper .sct { position: absolute; top: 15px; left: 20px ; color: #fff; transform: rotate(-90deg);}

/********************* 반응형 *********************/
@media screen and (max-width: 1399px) {
	.header-wrapper .title-wrap .slide-title {font-size: 55px;}
	.header-wrapper .side-navi {padding: 65px 40px 30px;}
	.header-wrapper .title-lt  .title-wrap .bar-left, .header-wrapper .title-lt  .title-wrap .bar-right {width: 100px;} 
	.history-bottom .img-wrapper, .history-bottom .img-wrapper .img-wrap, .history-bottom .sub-img {width:357px;}
	.history-bottom .history {width: 337px;}
	.history-bottom .article-lt{padding: 2.8rem 1.875rem 0 0;}
	.history-bottom .article-rt{padding: 2.8rem 0 0 1.875rem;}
	.bar-left, .bar-right {width: 100px;}
	.art-wrapper .arttitle-wrapper {padding: 10.875rem 5.58rem 11.625rem;}
	.artist-wrapper .img-change {width: 340px;}
	.artist-wrapper .img-wrap {width: 275px; margin: 3rem 1.56rem 7.8rem 2.5rem;}
	.raeding-wrapper .cont-wrap .img-wrapper, .sub-wrapper5 .cont-wrap .img-wrapper .cntimg-wrap, .raeding-wrapper  img {width: 461px;} 
	.raeding-wrapper .cont-wrap {width: 1100px;}
	.raeding-wrapper .line-wrap .point {top: 3%;}
	.raeding-wrapper .line-wrap .sub-line {top: 3.25%;}
	.raeding-wrapper .cont-1982 {width:100%}
	.raeding-wrapper .cont-1910 .subtitle-wrap, .raeding-wrapper .cont-2002 .subtitle-wrap {margin: 3.25rem 6.5rem 0 4rem;}
	.raeding-wrapper .cont-1982 .subtitle-wrap { width: 375px; margin: 3.25rem 0rem 0rem 5rem;}
	.raeding-wrapper .cont-1910 h3, .raeding-wrapper .cont-2002 h3 {margin: 0 4rem}
	.raeding-wrapper .cont-1982 h3 {margin: 0 2rem}
	.raeding-wrapper .slide-wrapper3 {width: 910px;}
	.news-wrapper .news-wrap {width: 1130px; /* margin: 0 6.5rem; */}
	.news-wrapper .news-wrap .subtitle-lt {padding: 8.25rem 3.75rem 8.5rem 6.3rem;}
	.visits-wrapper .visits-wrap {width: 1130px;}
	.visits-wrapper .visits-wrap .visit-lt {padding: 0 1.875rem 0 0;}
	.visits-wrapper .img-wrapper {width: 1100px;}
	.blog-wrapper .img-wrapper .img-box {width: 354px;}
	.blog-wrapper .img-wrapper .img-wrap {width: 354px;}
	.blog-wrapper .img-wrapper .article {width: 346px; margin: 0.8rem 0 0; text-align: left;}
	.blog-wrapper .img-wrapper .sub-wrap {margin: 1.8rem 0 1.56rem;}
	.shop-wrapper .stage {width: 80%;}
	.shop-wrapper .btn-prev {left: -2%;}
	.shop-wrapper .btn-next {right: -2%;}
	.contact-wrapper .contact-wrap {width: 1100px;}
	.contact-wrapper .contact-wrap .contact-lt {padding: 8rem 3.75rem 8.375rem 6.25rem}
	.contact-wrapper .contact-wrap .contact-lt .cont {width: 390px;}
	.contact-wrapper .contact-wrap .contact-rt input.message {width: 400px;}
	.contact-wrapper .contact-rt input {margin: 1rem;}
	.contact-wrapper .contact-rt input.name, .contact-wrapper .contact-rt input.email {width: 190px;}
	.footer-wrapper .f-info {width: 252px; padding:0 1rem;}
}

@media screen and (max-width: 1199px) {
	.history-wrapper .titles {margin: 0 2rem;}
	.header-wrapper .title-lt  .title-wrap .bar-left {left: -20%;} 
	.header-wrapper .title-lt  .title-wrap .bar-right {right: -20%;} 
	.history-bottom .img-wrapper, .history-bottom .img-wrapper .img-wrap, .history-bottom .sub-img {width:307px;}
	.history-bottom .img-wrapper .img-wrap, .history-bottom .sub-img {padding: 2rem 0;}
	.history-wrapper .history-bottom .history {width: 287px;}
	.history-wrapper .history-bottom .article-lt {padding: 0 1.875rem 0 0;}
	.history-wrapper .history-bottom .article-rt {padding: 0 0 0 1.875rem;}
	.art-wrapper .arttitle-wrapper {padding: 10.875rem 4.8rem 11.625rem;}
	.artist-wrapper .img-text {left: 50%;}
	.artist-wrapper .img-change { width: 44%;}
	.artist-wrapper .text-change {width:405px; margin-left: 3rem;}
	.artist-wrapper .maint {margin-top: 3.25rem;}
	.raeding-wrapper .cont-wrap {width: 980px;}
	.raeding-wrapper .cont-wrap .img-wrapper , .raeding-wrapper .cont-wrap .img-wrapper .cntimg-wrap, .raeding-wrapper  img {width: 386px;} 
	.raeding-wrapper .line-wrap .point {top: 2%;}
	.raeding-wrapper .line-wrap .sub-line {top: 2.25%;}
	.raeding-wrapper .cont-1910 .subtitle-wrap, .raeding-wrapper .cont-2002 .subtitle-wrap  {margin: 1.8rem 5rem 0 4.5rem;}
	.raeding-wrapper .cont-1982 .subtitle-wrap {margin: 1.8rem 0rem 0 5rem;;}
	.raeding-wrapper .cont-1982 h3 {margin: 0 2rem}
	.news-wrapper {height: auto;}
	.news-wrapper .news-wrap {width: 980px;}
	.news-wrapper .news-wrap .subtitle-rt {padding: 11rem  5rem 6rem 4rem;}
	.news-wrapper .news-wrap .subtitle-rt input {width: 326px;}
	.visits-wrapper .visits-wrap {width: 980px;}
	.visits-wrapper .img-wrapper {width: 950px;}
	.visits-wrapper .visits-wrap .visit-rt {padding: 9rem 0 0 1rem;}
	.blog-wrapper .img-wrapper .img-box, .blog-wrapper .img-wrapper .img-wrap {width: 280px;}
	.blog-wrapper .img-wrapper .article {width: 280px;}
	.shop-wrapper .stage {width: 96%;}
	.shop-wrapper .btn-prev {left: -8%;}
	.shop-wrapper .btn-next {right: -8%;}
	.contact-wrapper .contact-wrap {width: 950px;}
	.contact-wrapper .contact-wrap .contact-lt {padding: 8rem 3.75rem 8.375rem 6.25rem}
	.contact-wrapper .contact-wrap .contact-lt .cont {width: 390px;}
	.contact-wrapper .contact-wrap .contact-rt input.message {width: 326px;}
	.contact-wrapper .contact-rt input.name, .contact-wrapper .contact-rt input.email {width: 145px; margin-top: 1.5rem;}
	.footer-wrapper .f-info {width:245px}
	

@media screen and (max-width: 1137px) {
.htop-wrap, .top-wrap .logo1 {display: none;}
.mtop-wrap {display: block;}
.mtop-wrap .mtop-top {padding: 0 2rem;}
.top-wrap .navi-wrap, .top-rt .btn, .top-rt .icon {display: none;}
.stage .btn-prev, .header-wrapper .btn-next {top: 56%;}
.stage .pager-wrap {bottom: 0;}
.stage .title-wrap .slide-title {width: 436px; height: 150px; line-height: 5rem;}
.title-lt .title-wrap .bar-left, .header-wrapper .title-lt .title-wrap .bar-right {top: 24%;}
}

@media screen and (max-width: 991px) {
	.header-wrapper .title-lt  .title-wrap .bar-left {left: -30%;} 
	.header-wrapper .title-lt  .title-wrap .bar-right {right: -30%;} 
	.header-wrapper .btn-prev, .header-wrapper .btn-next {display: none;}
	.history-wrap {margin: 0 1rem;}
	.history-top .title-wrap {font-size: 42px; line-height: -1em;}
	.history-top .title-wrap .title-wrap .bar-right , .history-top .title-wrap .title-wrap .bar-left {display: none;}
	.history-bottom {flex-direction: column; padding-bottom: 10rem; position: relative; justify-items: center; align-items: center;}
	.history-wrapper .history-bottom .history, .history-wrapper .history-bottom .img-wrapper, 
	.history-bottom .img-wrapper .img-wrap, .history-bottom .sub-img {width:736px; padding: 0;}
	.history-wrapper .history-bottom .article-lt {padding: 0 0 4.43rem; z-index: 10;}
	.history-wrapper .history-bottom .article-rt {padding: 3.8rem 0 0; z-index: 10;}
	.art-wrapper {flex-direction: column;}
	.art-wrapper .arttitle-wrapper, .art-wrapper .sub-img {width: 100%; height: 90vh;}
	.art-wrapper.img-wrap {display: none}
	.view-wrapper .title-wrap .bar-left,.view-wrapper .title-wrap .bar-right{display:none;}
	.view-wrapper .slide-title {font-size: 42px;}
	.view-wrapper .slide-wrap {width: 166.6666%; left: -33.3333%;}
	.view-wrapper .slide {flex: 20% 0 0;}
	.artist-wrapper .img-change {width: 366px;}
	.artist-wrapper .img-wrap {width: 213px; margin-top: 2.4rem;}
	.artist-wrapper .maint {margin-top: 0rem;}
	.raeding-wrapper .cont-wrap {width: 600px; margin: 1rem;}
	.raeding-wrapper .cont-wrap .main-sub, .raeding-wrapper .cont-wrap .main-sub2, .raeding-wrapper .cont-wrap .main-sub3 { display: none;}
	.raeding-wrapper .title-wrap .slide-title {font-size:42px;}
	.raeding-wrapper .title-wrap .titles {width:746px}
	.raeding-wrapper .line-wrap {display: none;}
/* 	.raeding-wrapper .cont-wrap .img-wrapper .cntimg-wrap {display: none;} */
	.raeding-wrapper .cont-wrap, .raeding-wrapper .cont-wrap .img-wrapper , .raeding-wrapper .cont-wrap .img-wrapper .cntimg-wrap, .raeding-wrapper  img {width: 748px;} 
	.raeding-wrapper .cont-1910, .raeding-wrapper .cont-19822, .raeding-wrapper .cont-2002 {flex-direction: column; width: 100%;}
	.raeding-wrapper .cont-1982 {display: none;}
	.raeding-wrapper .cont-19822 {display: block; margin-top: 8%;}
	.raeding-wrapper .cont-wrap .reading {z-index: 10; width:748px; text-align: center; margin: 2rem 0 0;}
/* 	.raeding-wrapper .cont-1910 .subtitle-wrap .sub-title {margin: 1rem 0 2rem;} */
	.raeding-wrapper .cont-19822 .subtitle-wrap .sub-title, .raeding-wrapper .cont-2002 .subtitle-wrap .sub-title {margin-top: 1rem;}
	.raeding-wrapper .img-wrapper .cntimg-wrap {display: none;}
	.raeding-wrapper .slide-wrapper3 {width: 768px;}
	.raeding-wrapper .slide-wrap {padding: 2rem 0;}
	.raeding-wrapper .slide-wrapper3 .btn-prev, .raeding-wrapper .btn-next {display: none;}
/*   .contact-wrapper {height: 120vh;}  */
	.news-wrapper .news-wrap .subtitle-wrap, .contact-wrapper .contact-wrap .contact {flex-direction: column;}
	.news-wrapper .news-wrap {width: 767px; }
	.news-wrapper .news-wrap .subtitle-lt {width: 100%; padding: 8.25rem 6.25rem 4rem;}
	.news-wrapper .news-wrap .subtitle-rt {width: 100%; padding: 0 11.25rem 9rem 6.25rem}
	.news-wrapper .news-wrap .subtitle-rt input {width: 488px;}
	.visits-wrapper .img-wrapper {width: 768px;}
	.visits-wrapper .visits-wrap {flex-direction: column; width: 767px;}
	.visits-wrapper .visits-wrap .visit-lt, .visits-wrapper .visits-wrap .visit-rt {width: 100%; padding: 3.3rem 0 0 0;}
	.visits-wrapper .visits-wrap .visit-lt {padding-top: 0;}
	.visits-wrapper .visits-wrap .slide-title {font-size: 42px; line-height: 3rem;}
/* 	.visits-wrapper .subtitile .visits {width: 768px;} */
	.blog-wrapper .title-wrap .slide-title {font-size: 42px;}
	.blog-wrapper .title-wrap .bar-right , .blog-wrapper .title-wrap .bar-left {display: none;}
	.blog-wrapper .img-wrapper .img-box, .blog-wrapper .img-wrapper .img-wrap {width: 200px;}
	.blog-wrapper .img-wrapper .article {width: 200px;}
	.shop-wrapper .title-wrap .bar-left , .shop-wrapper .title-wrap  .bar-right {display: none;}
	.shop-wrapper .title-wrap .slide-title {font-size: 42px; width: 300px;}
/* 	.shop-wrapper .title-wrap,  {width: 330px;} */
	.shop-wrapper .titles {align-items: center;}
	.shop-wrapper .title-wrap .cont {width: 300px;}
	.shop-wrapper .slide-wrap {width: 166.6666%; left: -33.3333%;}
	.shop-wrapper .slide {flex: 20% 0 0;}
	.shop-wrapper .stage {width: 80%;}
	.shop-wrapper .slide {flex: 20% 0 0;}
	.shop-wrapper .btn-next, .shop-wrapper .btn-prev {display: none;}
	.contact-wrapper .contact-wrap {width: 768px;}
	.contact-wrapper .contact-wrap .contact-lt {padding: 7.9rem 6.25rem 3.875rem;}
	.contact-wrapper .contact-wrap .contact-lt .cont, .contact-wrapper .contact-wrapper .contact-rt input.message {width: 550px;}
	.contact-wrapper .contact-wrap .contact-rt {padding: 0 6.25rem 10rem;}
	.contact-wrapper .contact-rt input.name, .contact-wrapper .contact-rt input.email {width: 265px; margin-top: 1.5rem;}
	.footer-wrapper .cont-wrap {flex-wrap: wrap; margin:0 4.8rem; padding: 7.25rem 0; justify-content: space-between;}
	.footer-wrapper ul.opening, .footer-wrapper ul.follow {padding: 2.5rem 0 0;}
	.footer-wrapper .f-info {width:38vw; padding: 0;}
	.sct-wrapper {left: 92%;}
}
@media screen and (max-width: 767px) {
	.header-wrapper .mtop-wrap .mtop-top, .header-wrapper .mtop-wrap .navi-wrapper {width: 600px;}
	.header-wrapper .mtop-wrap .navi-wrapper ul.sub-wrap {width: 583px;}
	.history-wrapper .slide-title {margin-bottom: 1.5rem;}
	.history-wrapper .history-bottom .history, .history-wrapper .history-bottom .img-wrapper, 
	.history-bottom .img-wrapper .img-wrap, .history-bottom .sub-img {width:568px; padding: 0;}
	.bar-left, .bar-right {display: none;}
	.history-wrapper .slide-title {font-size: 2.625rem;}
	.art-wrapper.subtitle-wrapper {padding: 9rem 4.625rem 10rem 4.625rem;}
	.view-wrapper .title-wrap .slide-title{width:600px;}
	.view-wrapper .slide-wrap {width: 200%; left: -50%;}
	.view-wrapper .slide {flex: 25% 0 0;}
	.artist-wrapper .sub-img  { height: 68vh;}
	.artist-wrapper .img-text {left: 6%;}
	.artist-wrapper .img-change { width: 84%; height: 24%;}
	.artist-wrapper .text-change {width:90%; margin: 0 0 0 1.6rem;}
	.artist-wrapper .maint {margin-top:2rem;}
	.raeding-wrapper .title-wrap .titles {width: 600px}
	.raeding-wrapper .cont-wrap .img-wrapper {margin: 0;}
	.raeding-wrapper .cont-wrap, .raeding-wrapper .cont-1910 .subtitle-wrap,
	.raeding-wrapper .cont-19822 .subtitle-wrap, .raeding-wrapper .cont-2002 .subtitle-wrap {width:580px;}
	.raeding-wrapper .slide-wrapper3 {width: 600px;}
	.news-wrapper .news-wrap {width: 575px;}
	.news-wrapper .news-wrap .subtitle-rt input {width: 380px;}
	.news-wrapper .news-wrap .subtitle-rt {padding: 0 6.25rem 9rem;}
	.visits-wrapper .visits-wrap {width: 575px;}
	.visits-wrapper .img-wrapper , .visits-wrapper .subtitile .visits{width: 575px;}
/* 	.visits-wrapper .subtitile .sub-title {margin: 0;}
	.visits-wrapper .subtitile .slide-title {font-size: 42px;}
	.visits-wrapper .subtitle-lt .article {margin: 1.2rem 0 2rem 0;}
	.visits-wrapper .subtitle-rt {padding: 3.3rem 0 0 0;} */
	.blog-wrapper .img-wrapper {flex-wrap: wrap; justify-items: center; justify-content: space-around; align-items: center; margin: 0 2.75rem;}
	.blog-wrapper .img-wrapper  .img-wrap {margin: 0 0.5rem;}
	.blog-wrapper .img-wrapper .img-box, .blog-wrapper .img-wrapper .img-wrap {width: 290px;}
	.blog-wrapper .img-wrapper .article {width: 290px;}
	.shop-wrapper .title-wrap .slide-title {font-size: 35px;}
	.shop-wrapper .title-wrap .slide-title{width:600px;}
	.shop-wrapper .slide-wrap {width: 200%; left: -50%;}
	.shop-wrapper .slide {flex: 25% 0 0;}
	.contact-wrapper .contact-wrap {width: 600px;}
	.contact-wrapper .contact-wrap .contact-lt .cont, .contact-wrapper .contact-wrap	 .contact-rt input.message {width: 380px;}
	.contact-wrapper .contact-rt input.name, .contact-wrapper .contact-rt input.email {width: 180px;}
	.footer-wrapper .f-info {width:36vw; padding: 0;}
	.sct-wrapper {left: 89%;}
}

/* @media screen and (max-width: 676px) {
	.header-wrapper .mtop-wrap .mtop-top, .header-wrapper .mtop-wrap .navi-wrapper {width: 420px;}
	.header-wrapper .mtop-wrap .navi-wrapper ul.sub-wrap {width: 405px;}
	.art-wrapper.subtitle-wrapper {padding: 9rem 1.875rem 10rem 1.875rem;}
	.art-wrapper.slide-title {font-size: 1.875rem;}
}
 */
@media screen and (max-width: 575px) {
	.header-wrapper .mtop-wrap .mtop-top, .header-wrapper .mtop-wrap .navi-wrapper {width: auto;}
	.header-wrapper .mtop-wrap .navi-wrapper ul.sub-wrap {width: 405px;}
	.header-wrapper .mtop-wrap .navi-wrapper {margin: 0 2rem;}
	.stage .title-wrap .slide-title {font-size: 2rem; height: 7rem; line-height: 2.8rem; margin: 0.8rem; }
	.history-wrapper .history-top {margin-bottom: 1rem;}
	.history-wrapper .title-wrap {width: 300px;}
	.history-wrapper .slide-title {font-size: 2.18rem; line-height: 2.5rem;}
	.history-wrapper .title-wrap, .history-wrapper .history-bottom .history, .history-wrapper .history-bottom .img-wrapper, 
	.history-bottom .img-wrapper .img-wrap, .history-bottom .sub-img{width: 86vw;}
	.art-wrapper .arttitle-wrapper {padding: 9rem 1.8rem 10rem;}
	.art-wrapper .art-title {font-size: 1.875rem;} 
	.view-wrapper .slide-wrap {width: 300%; left: -100%;}
	.view-wrapper .slide {flex: 33.3333% 0 0;}
	.view-wrapper .titles .slide-title {width: 420px;}
	.view-wrapper .btn-prev, .view-wrapper .btn-next {display: none;}
	.artist-wrapper .img-text { width: 80%; left: 2.25rem;/*  height: auto; */}
	.artist-wrapper .text-change {width:90%; margin: 1.7rem 1rem;}
	.artist-wrapper .img-change {height: auto;}
	.artist-wrapper .maint {margin: 0;}
	.raeding-wrapper .titles .slide-title {font-size: 35px;}
	.reading-wrapper .cont-wrap {width: 420px;}
	.raeding-wrapper .slide-wrapper3 {width: 86vw;}
	.raeding-wrapper .slide-wrap {padding:0 0 2rem; }
	.raeding-wrapper .cont-img1, .raeding-wrapper .cont-img2, .raeding-wrapper .cont-img3 {width: 86vw;}
	.raeding-wrapper .title-wrap .titles {width: 82vw;}
	.raeding-wrapper .titles {align-items: center;}
	.raeding-wrapper .cont-wrap, .raeding-wrapper .cont-1910 .subtitle-wrap,
	.raeding-wrapper .cont-19822 .subtitle-wrap, .raeding-wrapper .cont-2002 .subtitle-wrap {width: 86vw;}
	.raeding-wrapper .reading .sub-title {margin: 1rem 0;}
	.raeding-wrapper .reading .slide-title {font-size: 30px;}
/* 	.news-wrapper {height:100%} */
	.news-wrapper .news-wrap {width: 75vw;}
	.news-wrapper .news-wrap .slide-title {font-size: 30px;}
	.news-wrapper .news-wrap .subtitle-rt input {width: 60vw;}
	.news-wrapper .news-wrap .subtitle-lt {padding:5.4rem 1.56rem 3.875rem;}
	.news-wrapper .news-wrap .subtitle-rt {padding: 0  1.56rem 6.25rem;}
	.visits-wrapper .visits-wrap {width: 80vw;}
	.visits-wrapper .img-wrapper , .visits-wrapper .subtitile .visits{width: 80vw;}
/* 	.visits-wrapper .subtitile .sub-title {margin: 0;} */
	.visits-wrapper .visits-wrap .slide-title {font-size: 35px;}
/* 	.visits-wrapper .subtitle-lt .article {margin: 1.2rem 0 2rem 0;}
	.visits-wrapper .subtitle-rt {padding: 3.3rem 0 0 0;} */
	.blog-wrapper .title-wrap .slide-title {font-size: 35px; line-height: 45px;}
	.blog-wrapper .img-wrapper .img-box, .blog-wrapper .img-wrapper .img-wrap {width: 80vw}
	.blog-wrapper .img-wrapper .article {width:80vw;}
	.blog-wrapper .img-wrapper {margin: 0;}
	.blog-wrapper .titles {margin: 0;}
	.shop-wrapper .slide-wrap {width: 300%; left: -100%;}
	.shop-wrapper .slide {flex: 33.3333% 0 0;}
	.shop-wrapper .titles .slide-title {width: 420px;}
	.shop-wrapper .btn-prev, .view-wrapper .btn-next {display: none;}
/* 	.contact-wrapper {height:100%} */
	.contact-wrapper .contact-wrap {width: 75vw;}
	.contact-wrapper .contact-wrap .contact .main-title {font-size: 30px;}
	.contact-wrapper .contact-wrap .contact-lt {padding: 5.43rem 1.56rem 3.875rem 1.5rem;}
	.contact-wrapper .contact-wrap .contact-rt {padding: 0 1.56rem 6.25rem;}
	.contact-wrapper .contact-wrap .contact-lt .cont, .contact-wrapper .contact-wrap .contact-rt input.message {width: 60vw;}
	.contact-wrapper .contact-rt input.name, .contact-wrapper .contact-rt input.email {width: 28vw;}
	.footer-wrapper .f-info {width:30vw;}
}